In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
positions = data_loader.load_positions()
positions

,position_id,position_name,position_is_early,position_is_middle,position_is_late,position_is_blind
0,1,UTG,True,False,False,False
1,2,UTG1,True,False,False,False
2,3,UTG2,True,False,False,False
3,4,UTG3,True,False,False,False
4,5,LJ,False,True,False,False
5,6,HJ,False,True,False,False
6,7,CO,False,False,True,False
7,8,BTN,False,False,True,False
8,9,SB,False,False,False,True
9,10,BB,False,False,False,True

In [4]:
player_stats = data_loader.load_player_stats()
player_stats.shape

(67358, 117)

In [5]:
player_stats.head()

,player_name,player_id,player_cnt_hands_played,player_general_stats,player_preflop_stats,player_flop_stats,player_turn_stats,player_river_stats,player_general_id,player_general_player,...,player_river_cnt_fold,player_river_cnt_check,player_river_cnt_check_raise,player_river_cnt_face_raise,player_river_cnt_3bet_opportunity,player_river_cnt_3bet,player_river_cnt_face_3bet,player_river_cnt_4bet_opportunity,player_river_cnt_4bet,player_river_cnt_face_4bet
0,--------N---,23147.0,1.0,359.0,4.0,3.0,3.0,4.0,359.0,23287.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-----DAV----,57271.0,8.0,363.0,12.0,10.0,11.0,12.0,363.0,57746.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,----_----,54455.0,37.0,370.0,11.0,8.0,8.0,10.0,370.0,54919.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,----LB----,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--- DAN ---,16469.0,1.0,366.0,7.0,9.0,13.0,11.0,366.0,16611.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0