In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader
data_loader = DataLoader()

In [3]:
player_hand_stats = data_loader.load_player_hand_stats()
player_hand_stats.shape

(2216200, 358)

In [4]:
player_hand_stats.head()

,id,player,hand_id,hand_date,tournament,max_players,cnt_players,button_seat,level_value,level_sb,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
0,68015,2,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,68016,4646,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,68013,4644,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,68012,4643,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,68014,4645,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
player_hand_stats.describe()

,id,player,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,level_ante,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
count,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,...,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06
mean,1.134901e+06,2.918550e+04,3.552275e+03,6.414950e+00,6.002720e+00,3.705040e+00,1.046534e+01,1.735066e+03,3.470131e+03,4.140723e+02,...,5.382565e-01,3.268896e+00,2.288078e-01,3.707682e-02,1.677961e-03,6.737796e-05,2.861396e-01,8.133130e-02,8.514188e-04,4.876407e-01
std,6.614051e+05,2.171751e+04,1.869292e+03,9.716587e-01,1.064072e+00,1.912366e+00,7.727166e+00,9.688838e+03,1.937768e+04,2.307085e+03,...,5.487484e+00,1.516446e+01,2.553184e+00,1.229693e+00,2.944632e-01,4.939386e-02,3.760559e+00,2.464754e+00,2.980273e-01,4.992542e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+01,2.000000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.540828e+05,9.113000e+03,1.758000e+03,6.000000e+00,6.000000e+00,2.000000e+00,5.000000e+00,1.500000e+02,3.000000e+02,3.500000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.136640e+06,2.848400e+04,3.869000e+03,6.000000e+00,6.000000e+00,4.000000e+00,9.000000e+00,3.500000e+02,7.000000e+02,8.000000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.713941e+06,4.748000e+04,5.223000e+03,6.000000e+00,6.000000e+00,5.000000e+00,1.500000e+01,8.000000e+02,1.600000e+03,2.000000e+02,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.267991e+06,7.053300e+04,6.842000e+03,1.000000e+01,1.000000e+01,1.000000e+01,1.660000e+02,7.000000e+05,1.400000e+06,1.600000e+05,...,4.127440e+03,2.680700e+03,4.375000e+02,1.958800e+02,1.803100e+02,5.838000e+01,5.326975e+02,4.225000e+02,1.888000e+02,5.326975e+02

In [6]:
player_hand_stats.select_dtypes(include=["object"]).describe()

,hand_id,hero_combo_short_name,hero_combo_hand,hero_combo_hand_is_suited,hero_combo_hand_is_offsuit,hero_combo_hand_is_paired,hero_combo_hand_is_connector,hero_combo_hand_is_one_gapper,hero_combo_hand_is_two_gapper,hero_combo_hand_is_broadway,...,turn_move_facing_cbet,turn_move_facing_donk_bet,turn_actions_sequence,river_move_facing_1bet,river_move_facing_2bet,river_move_facing_3bet,river_move_facing_4bet,river_move_facing_cbet,river_move_facing_donk_bet,river_actions_sequence
count,2216200,2214589,2214589,2214589,2214589,2214589,2214589,2214589,2214589,2214589,...,101208,0,269525,57485,5670,303,23,57483,0,169121
unique,383155,1326,169,2,2,2,2,2,2,2,...,3,0,37,3,3,3,3,3,0,29
top,2798446681136300034-113-1683546188,8s2h,52o,False,True,False,False,False,False,False,...,F,NaN,X,F,F,C,C,F,NaN,X
freq,13,2009,20746,1692725,1561444,2083308,1865311,1893878,1921638,1897874,...,48461,NaN,86475,32311,2771,219,16,32310,NaN,60622

In [7]:
villain_hands = player_hand_stats[player_hand_stats['flag_is_hero'] == False]

In [8]:
villain_hands.shape

(1780429, 358)

In [9]:
villain_hands.describe()

,id,player,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,level_ante,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
count,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,...,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06
mean,1.133148e+06,3.515811e+04,3.529361e+03,6.451693e+00,6.057238e+00,3.723401e+00,1.044405e+01,1.701172e+03,3.402344e+03,4.060114e+02,...,5.612653e-01,3.388749e+00,2.329131e-01,3.761904e-02,1.853191e-03,7.827902e-05,3.052473e-01,8.708367e-02,1.017068e-03,5.133953e-01
std,6.710155e+05,1.898664e+04,1.894098e+03,9.587027e-01,1.035835e+00,1.920330e+00,7.683586e+00,9.489561e+03,1.897912e+04,2.260285e+03,...,4.927306e+00,1.536282e+01,2.555935e+00,1.249488e+00,3.193670e-01,5.460092e-02,3.976252e+00,2.581505e+00,3.291429e-01,5.223166e+00
min,2.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,1.000000e+01,2.000000e+01,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.315140e+05,1.972400e+04,1.707000e+03,6.000000e+00,6.000000e+00,2.000000e+00,5.000000e+00,1.500000e+02,3.000000e+02,3.500000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.138740e+06,3.421500e+04,3.855000e+03,6.000000e+00,6.000000e+00,4.000000e+00,9.000000e+00,3.500000e+02,7.000000e+02,8.000000e+01,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.727618e+06,5.073900e+04,5.242000e+03,6.000000e+00,6.000000e+00,5.000000e+00,1.400000e+01,8.000000e+02,1.600000e+03,2.000000e+02,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.267991e+06,7.053300e+04,6.842000e+03,1.000000e+01,1.000000e+01,1.000000e+01,1.660000e+02,7.000000e+05,1.400000e+06,1.600000e+05,...,6.660000e+02,5.909200e+02,2.873000e+02,1.958800e+02,1.803100e+02,5.838000e+01,5.326975e+02,4.225000e+02,1.888000e+02,5.326975e+02

In [10]:
villain_hands.select_dtypes(include=["object"]).describe()

,hand_id,hero_combo_short_name,hero_combo_hand,hero_combo_hand_is_suited,hero_combo_hand_is_offsuit,hero_combo_hand_is_paired,hero_combo_hand_is_connector,hero_combo_hand_is_one_gapper,hero_combo_hand_is_two_gapper,hero_combo_hand_is_broadway,...,turn_move_facing_cbet,turn_move_facing_donk_bet,turn_actions_sequence,river_move_facing_1bet,river_move_facing_2bet,river_move_facing_3bet,river_move_facing_4bet,river_move_facing_cbet,river_move_facing_donk_bet,river_actions_sequence
count,1780429,1778818,1778818,1778818,1778818,1778818,1778818,1778818,1778818,1778818,...,84015,0,222489,47574,4576,252,21,47573,0,139786
unique,378247,1326,169,2,2,2,2,2,2,2,...,3,0,35,3,3,3,3,3,0,28
top,578798034851201025-1-1445441197,Jc3d,KQo,False,True,False,False,False,False,False,...,F,NaN,X,F,F,C,C,F,NaN,X
freq,9,1595,16621,1359231,1253552,1673139,1497916,1521005,1543487,1523659,...,39772,NaN,71372,26867,2243,178,14,26866,NaN,50546