In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader
data_loader = DataLoader()

In [3]:
player_hand_stats = data_loader.load_player_hand_stats()

In [4]:
player_hand_stats.shape

(2216200, 494)

In [5]:
player_hand_stats.dtypes

id                                                   int64
player                                               int64
hand_date                              datetime64[ns, UTC]
tournament                                           int64
max_players                                           Int8
                                              ...
river_amount_to_call_facing_4bet_bb                float16
river_amount_bet_made_bb                           float16
river_amount_first_raise_made_bb                   float16
river_amount_second_raise_made_bb                  float16
river_total_bet_amount_bb                          float16
Length: 494, dtype: object

In [6]:
player_hand_stats.head()

,id,player,hand_date,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
0,68015,2,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,68016,4646,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,68013,4644,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,68012,4643,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,68014,4645,2018-06-05 13:16:58+00:00,504,6,6,6,10,500.0,1000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
player_hand_stats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2216200 entries, 0 to 2216199
Columns: 494 entries, id to river_total_bet_amount_bb
dtypes: Int8(17), bool(155), category(72), datetime64[ns, UTC](1), float16(148), float64(96), int64(4), object(1)
memory usage: 2.9+ GB

In [7]:
player_hand_stats.describe()

,id,player,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,level_ante,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
count,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2.216200e+06,2216200.0,2216200.0,2216200.0,...,2215709.0,2215609.0,2215999.0,2216180.0,2216200.0,2216200.0,2215994.0,2216175.0,2216200.0,2215887.0
mean,1.134901e+06,2.918550e+04,3.552275e+03,6.414950e+00,6.002720e+00,3.705040e+00,1.046534e+01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,6.614051e+05,2.171751e+04,1.869292e+03,9.716587e-01,1.064072e+00,1.912366e+00,7.727166e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,10.0,20.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,5.540828e+05,9.113000e+03,1.758000e+03,6.000000e+00,6.000000e+00,2.000000e+00,5.000000e+00,150.0,300.0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,1.136640e+06,2.848400e+04,3.869000e+03,6.000000e+00,6.000000e+00,4.000000e+00,9.000000e+00,350.0,700.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,1.713941e+06,4.748000e+04,5.223000e+03,6.000000e+00,6.000000e+00,5.000000e+00,1.500000e+01,800.0,1600.0,200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,2.267991e+06,7.053300e+04,6.842000e+03,1.000000e+01,1.000000e+01,1.000000e+01,1.660000e+02,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [8]:
memory_usage = player_hand_stats.memory_usage(deep=True).sum()

In [9]:
print(f"Memory usage: {memory_usage / 1024 ** 2:.2f} MB = {memory_usage / 1024 ** 3:.2f} GB")

Memory usage: 3045.65 MB = 2.97 GB

In [10]:
villain_hands = player_hand_stats[player_hand_stats['flag_is_hero'] == False]

In [11]:
villain_hands.shape

(1780429, 494)

In [12]:
villain_hands.describe()

,id,player,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,level_ante,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
count,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1.780429e+06,1780429.0,1780429.0,1780429.0,...,1780073.0,1779997.0,1780274.0,1780416.0,1780429.0,1.780429e+06,1780282.0,1780416.0,1780429.00,1780204.0
mean,1.133148e+06,3.515811e+04,3.529361e+03,6.451693e+00,6.057238e+00,3.723401e+00,1.044405e+01,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,0.00,NaN
std,6.710155e+05,1.898664e+04,1.894098e+03,9.587027e-01,1.035835e+00,1.920330e+00,7.683586e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,0.00,NaN
min,2.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,10.0,20.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.00,0.0
25%,5.315140e+05,1.972400e+04,1.707000e+03,6.000000e+00,6.000000e+00,2.000000e+00,5.000000e+00,150.0,300.0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.00,0.0
50%,1.138740e+06,3.421500e+04,3.855000e+03,6.000000e+00,6.000000e+00,4.000000e+00,9.000000e+00,350.0,700.0,80.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.00,0.0
75%,1.727618e+06,5.073900e+04,5.242000e+03,6.000000e+00,6.000000e+00,5.000000e+00,1.400000e+01,800.0,1600.0,200.0,...,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.00,0.0
max,2.267991e+06,7.053300e+04,6.842000e+03,1.000000e+01,1.000000e+01,1.000000e+01,1.660000e+02,inf,inf,inf,...,inf,inf,inf,inf,inf,5.840625e+01,inf,inf,188.75,inf

In [16]:
showdown_hands = player_hand_stats[player_hand_stats['flag_went_to_showdown'] == True]

In [17]:
showdown_hands.shape

(325551, 494)