In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
general_player_hand_stats = data_loader.load_general_player_hand_stats()
general_player_hand_stats.head()

,id,player,hand_history,flag_went_to_showdown,flag_is_hero,flag_won_hand,starting_stack,bounty,amount_won,chips_difference,...,all_in_street,face_covering_bet_street,face_all_in_street,combo,seat,player_position_name,player_position_is_early,player_position_is_middle,player_position_is_late,player_position_is_blind
0,681519,2,117212,True,True,True,108320.0,0.00,204012.0,103276.0,...,3.0,3.0,NaN,1236.0,2,CO,False,False,True,False
1,1279556,53014,227139,False,False,False,23473.0,9.00,0.0,-1800.0,...,NaN,NaN,NaN,NaN,3,BB,False,False,False,True
2,1279559,16408,227139,False,False,False,30792.0,4.50,0.0,-200.0,...,NaN,NaN,NaN,NaN,4,HJ,False,True,False,False
3,1279563,2,227139,False,True,False,63875.0,7.87,0.0,-200.0,...,NaN,NaN,NaN,209.0,5,CO,False,False,True,False
4,1279588,53015,227139,False,False,True,67455.0,6.75,6600.0,3200.0,...,NaN,NaN,NaN,NaN,6,BTN,False,False,True,False

In [4]:
# exploitable_hand_stats = data_loader.load_exploitable_hand_stats()
# exploitable_hand_stats.shape

In [5]:
# exploitable_hand_stats.head()