In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
combos = data_loader.load_combos()
combos.head()

,combo_id,combo_short_name,combo_hand_short_name,combo_hand_is_suited,combo_hand_is_offsuit,combo_hand_is_paired,combo_hand_is_connector,combo_hand_is_one_gapper,combo_hand_is_two_gapper,combo_hand_is_broadway,...,combo_short_name_card1,combo_is_broadway_card1,combo_is_face_card1,combo_rank_card1,combo_suit_card1,combo_short_name_card2,combo_is_broadway_card2,combo_is_face_card2,combo_rank_card2,combo_suit_card2
0,1,2d2c,22,False,False,True,False,False,False,False,...,2d,False,False,2,d,2c,False,False,2,c
1,2,2h2c,22,False,False,True,False,False,False,False,...,2h,False,False,2,h,2c,False,False,2,c
2,3,2s2c,22,False,False,True,False,False,False,False,...,2s,False,False,2,s,2c,False,False,2,c
3,4,3c2c,32s,True,False,False,True,False,False,False,...,3c,False,False,3,c,2c,False,False,2,c
4,5,3d2c,32o,False,True,False,True,False,False,False,...,3d,False,False,3,d,2c,False,False,2,c

In [4]:
general_player_hand_stats = data_loader.load_general_player_hand_stats()
general_player_hand_stats.head()

,id,player,hand_history,flag_went_to_showdown,flag_is_hero,flag_won_hand,starting_stack,bounty,amount_won,chips_difference,...,player_position_is_early,player_position_is_middle,player_position_is_late,player_position_is_blind,all_in_street,face_all_in_street,fold_street,face_covering_bet_street,facing_all_in_move,facing_covering_bet_move
0,681519,2,117212,True,True,True,108320.0,0.00,204012.0,103276.0,...,False,False,True,False,T,NaN,NaN,T,NaN,C
1,1279556,53014,227139,False,False,False,23473.0,9.00,0.0,-1800.0,...,False,False,False,True,NaN,NaN,PF,NaN,NaN,NaN
2,1279559,16408,227139,False,False,False,30792.0,4.50,0.0,-200.0,...,False,True,False,False,NaN,NaN,PF,NaN,NaN,NaN
3,1279563,2,227139,False,True,False,63875.0,7.87,0.0,-200.0,...,False,False,True,False,NaN,NaN,PF,NaN,NaN,NaN
4,1279588,53015,227139,False,False,True,67455.0,6.75,6600.0,3200.0,...,False,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
general_player_hand_stats.shape

(2152323, 49)

In [6]:
general_player_hand_stats.describe()

,id,player,hand_history,starting_stack,bounty,amount_won,chips_difference,amount_expected_won,total_bet_amount,player_combo_hand_rank_difference
count,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2152323.0,2.152323e+06,590928.000000
mean,1.113693e+06,2.908358e+04,1.933027e+05,9.362407e+04,1.750785e+00,1.049110e+04,2.155271e+02,0.0,8.903979e+03,3.486516
std,6.514430e+05,2.179131e+04,1.162605e+05,5.071168e+05,5.184656e+00,1.714081e+05,7.960936e+04,0.0,1.375818e+05,2.664116
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,-2.709410e+07,0.0,0.000000e+00,0.000000
25%,5.386735e+05,8.960000e+03,8.730200e+04,1.665300e+04,0.000000e+00,0.000000e+00,-7.800000e+02,0.0,0.000000e+00,1.000000
50%,1.116541e+06,2.811900e+04,1.948450e+05,2.554200e+04,0.000000e+00,0.000000e+00,-1.400000e+02,0.0,0.000000e+00,3.000000
75%,1.686240e+06,4.747800e+04,2.961960e+05,5.875000e+04,2.250000e+00,0.000000e+00,-2.500000e+01,0.0,8.660000e+02,5.000000
max,2.224320e+06,7.053300e+04,3.909550e+05,8.115331e+07,2.756500e+02,7.939331e+07,2.825410e+07,0.0,5.099921e+07,11.000000

In [7]:
general_player_hand_stats.select_dtypes(include="object").describe()

,seat,player_combo_short_name,player_combo_hand_short_name,player_combo_hand_is_suited,player_combo_hand_is_offsuit,player_combo_hand_is_paired,player_combo_hand_is_connector,player_combo_hand_is_one_gapper,player_combo_hand_is_two_gapper,player_combo_hand_is_broadway,...,player_combo_is_face_card2,player_combo_rank_card2,player_combo_suit_card2,player_position_name,all_in_street,face_all_in_street,fold_street,face_covering_bet_street,facing_all_in_move,facing_covering_bet_move
count,2152323,590928,590928,590928,590928,590928,590928,590928,590928,590928,...,590928,590928,590928,2152323,189081,0,1641132,258325,0,258325
unique,10,1326,169,2,2,2,2,2,2,2,...,2,13,4,10,4,0,4,4,0,4
top,1,QhQc,AKo,False,True,False,False,False,False,False,...,False,2,c,SB,PF,NaN,PF,PF,NaN,R
freq,349585,1007,10698,436796,371546,525678,488105,502830,514345,447942,...,498808,67825,163413,372910,132661,NaN,1449250,195237,NaN,119505

In [8]:
# exploitable_hand_stats = data_loader.load_exploitable_hand_stats()
# exploitable_hand_stats.shape

In [9]:
# exploitable_hand_stats.head()