In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
general_player_stats = data_loader.load_general_player_stats()
general_player_stats.shape

(55694, 5)

In [4]:
general_player_stats.head()

   id  player  cnt_went_to_showdown  cnt_is_hero  cnt_won_hand
0  35   10884                    22            0            28
1   3   22565                    60            0            99
2  31   36827                    29            0            42
3  68   18800                    30            0            44
4  87   21047                    38            0            61