In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader
data_loader = DataLoader()

In [3]:
flop_player_hand_stats = data_loader.load_raw_flop_player_hand_stats()
flop_player_hand_stats.shape

(2231904, 51)

In [4]:
flop_player_hand_stats.head()

,id,player,hand_history,flag_saw,flag_first_to_talk,flag_has_position,flag_bet,flag_open_opportunity,flag_open,flag_cbet_opportunity,...,ratio_bet_made,ratio_first_raise_made,ratio_second_raise_made,total_bet_amount,move_facing_1bet,move_facing_2bet,move_facing_3bet,move_facing_4bet,move_facing_cbet,move_facing_donk_bet
0,44,163,2473,True,True,False,False,True,False,False,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,5,166,2466,False,False,False,False,False,False,False,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,6,167,2466,True,True,False,False,True,False,False,...,0.0,0.0,0.0,350.0,3.0,NaN,NaN,NaN,3.0,NaN
3,1590713,63020,279336,True,True,False,False,True,False,False,...,0.0,0.0,0.0,1865.0,3.0,NaN,NaN,NaN,3.0,NaN
4,8,163,2467,False,False,False,False,False,False,False,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
keywords = ["move", "street", "sequence"]
[col for col in flop_player_hand_stats.columns if any(keyword in col for keyword in keywords)]

['actions_sequence',
 'move_facing_1bet',
 'move_facing_2bet',
 'move_facing_3bet',
 'move_facing_4bet',
 'move_facing_cbet',
 'move_facing_donk_bet']