In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
hand_histories = data_loader.load_hand_histories()
hand_histories.head()

            id                            hand_id                 hand_date  \
0        39804    539281767337558375-1-1438948828 2015-08-07 12:00:28+00:00
1        39805    539281767337558375-2-1438948899 2015-08-07 12:01:39+00:00
2        39802    539281767337558292-2-1438948980 2015-08-07 12:03:00+00:00
3        39803    539281767337558292-3-1438949014 2015-08-07 12:03:34+00:00
4        39806    539281767337558454-1-1438949056 2015-08-07 12:04:16+00:00
...        ...                                ...                       ...
383150  257010   3537242456900763657-1-1725735096 2024-09-07 18:51:36+00:00
383151  257009   3537242456900763657-2-1725735140 2024-09-07 18:52:20+00:00
383152  257008   3537242456900763657-3-1725735165 2024-09-07 18:52:45+00:00
383153  257007   3537242456900763657-4-1725735242 2024-09-07 18:54:02+00:00
383154  257043  3537242456900763650-82-1725735286 2024-09-07 18:54:46+00:00

        tournament     flop  turn  river  max_players  cnt_players  \
0                1  14398.0   1.0   39.0            6            6
1                1  10419.0  40.0   23.0            6            6
2                1  20122.0   1.0   15.0            6            6
3                1  15230.0  36.0   20.0            6            5
4                1  13381.0   4.0   41.0            6            6
...            ...      ...   ...    ...          ...          ...
383150        6840      NaN   NaN    NaN            8            3
383151        6840      NaN   NaN    NaN            8            7
383152        6840   6890.0  42.0    NaN            8            7
383153        6840   1560.0  39.0    1.0            8            7
383154        6840   7230.0  52.0   11.0            8            8

        button_seat  hero_combo  level_value  level_sb  level_bb  level_ante
0                 2      1256.0            1      10.0      20.0         0.0
1                 3        43.0            1      10.0      20.0         0.0
2                 3       677.0            1      10.0      20.0         0.0
3                 4       534.0            2      15.0      30.0         0.0
4                 5      1277.0            2      15.0      30.0         0.0
...             ...         ...          ...       ...       ...         ...
383150            6        86.0            1    2000.0    4000.0       500.0
383151            1       926.0           10    2500.0    5000.0       600.0
383152            2       558.0           10    2500.0    5000.0       600.0
383153            4       180.0           10    2500.0    5000.0       600.0
383154            3       587.0           10    2500.0    5000.0       600.0

[383155 rows x 15 columns]
        id short_name hand  hand_is_suited  hand_is_offsuit  hand_is_paired  \
0        1       2d2c   22           False            False            True
1        2       2h2c   22           False            False            True
2        3       2s2c   22           False            False            True
3        4       3c2c  32s            True            False           False
4        5       3d2c  32o           False             True           False
...    ...        ...  ...             ...              ...             ...
1321  1322       AhAc   AA           False            False            True
1322  1323       AsAc   AA           False            False            True
1323  1324       AhAd   AA           False            False            True
1324  1325       AsAd   AA           False            False            True
1325  1326       AsAh   AA           False            False            True

      hand_is_connector  hand_is_one_gapper  hand_is_two_gapper  \
0                 False               False               False
1                 False               False               False
2                 False               False               False
3                  True               False               False
4                  True               False               False
...                 ...                 ...                 ...
1321              False               False               False
1322              False               False               False
1323              False               False               False
1324              False               False               False
1325              False               False               False

      hand_is_broadway  ...  first_card_short_name  first_card_is_broadway  \
0                False  ...                     2d                   False
1                False  ...                     2h                   False
2                False  ...                     2s                   False
3                False  ...                     3c                   False
4                False  ...                     3d                   False
...                ...  ...                    ...                     ...
1321              True  ...                     Ah                    True
1322              True  ...                     As                    True
1323              True  ...                     Ah                    True
1324              True  ...                     As                    True
1325              True  ...                     As                    True

      first_card_is_face first_card_rank first_card_suit  \
0                  False               2               d
1                  False               2               h
2                  False               2               s
3                  False               3               c
4                  False               3               d
...                  ...             ...             ...
1321               False               A               h
1322               False               A               s
1323               False               A               h
1324               False               A               s
1325               False               A               s

     second_card_short_name second_card_is_broadway  second_card_is_face  \
0                        2c                   False                False
1                        2c                   False                False
2                        2c                   False                False
3                        2c                   False                False
4                        2c                   False                False
...                     ...                     ...                  ...
1321                     Ac                    True                False
1322                     Ac                    True                False
1323                     Ad                    True                False
1324                     Ad                    True                False
1325                     Ah                    True                False

      second_card_rank second_card_suit
0                    2                c
1                    2                c
2                    2                c
3                    2                c
4                    2                c
...                ...              ...
1321                 A                c
1322                 A                c
1323                 A                d
1324                 A                d
1325                 A                h

[1326 rows x 26 columns]

,id,hand_id,hand_date,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,...,turn_card_short_name,turn_card_is_broadway,turn_card_is_face,turn_card_rank,turn_card_suit,river_card_short_name,river_card_is_broadway,river_card_is_face,river_card_rank,river_card_suit
0,39804,539281767337558375-1-1438948828,2015-08-07 12:00:28+00:00,1,6,6,2,1,10.0,20.0,...,2c,False,False,2,c,Jh,True,True,J,h
1,39805,539281767337558375-2-1438948899,2015-08-07 12:01:39+00:00,1,6,6,3,1,10.0,20.0,...,Js,True,True,J,s,7h,False,False,7,h
2,39802,539281767337558292-2-1438948980,2015-08-07 12:03:00+00:00,1,6,6,3,1,10.0,20.0,...,2c,False,False,2,c,5h,False,False,5,h
3,39803,539281767337558292-3-1438949014,2015-08-07 12:03:34+00:00,1,6,5,4,2,15.0,30.0,...,Ts,True,False,T,s,6s,False,False,6,s
4,39806,539281767337558454-1-1438949056,2015-08-07 12:04:16+00:00,1,6,6,5,2,15.0,30.0,...,2s,False,False,2,s,Qc,True,True,Q,c

In [4]:
# general_player_hand_stats = data_loader.load_general_player_hand_stats()
# general_player_hand_stats.head()

In [5]:
general_player_hand_stats.shape

NameError: name 'general_player_hand_stats' is not defined

In [7]:
general_player_hand_stats.describe()

,id,player,hand_history,starting_stack,bounty,amount_won,chips_difference,amount_expected_won,total_bet_amount,player_combo_hand_rank_difference
count,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2152323.0,2.152323e+06,590928.000000
mean,1.113693e+06,2.908358e+04,1.933027e+05,9.362407e+04,1.750785e+00,1.049110e+04,2.155271e+02,0.0,8.903979e+03,3.486516
std,6.514430e+05,2.179131e+04,1.162605e+05,5.071168e+05,5.184656e+00,1.714081e+05,7.960936e+04,0.0,1.375818e+05,2.664116
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,-2.709410e+07,0.0,0.000000e+00,0.000000
25%,5.386735e+05,8.960000e+03,8.730200e+04,1.665300e+04,0.000000e+00,0.000000e+00,-7.800000e+02,0.0,0.000000e+00,1.000000
50%,1.116541e+06,2.811900e+04,1.948450e+05,2.554200e+04,0.000000e+00,0.000000e+00,-1.400000e+02,0.0,0.000000e+00,3.000000
75%,1.686240e+06,4.747800e+04,2.961960e+05,5.875000e+04,2.250000e+00,0.000000e+00,-2.500000e+01,0.0,8.660000e+02,5.000000
max,2.224320e+06,7.053300e+04,3.909550e+05,8.115331e+07,2.756500e+02,7.939331e+07,2.825410e+07,0.0,5.099921e+07,11.000000

In [8]:
general_player_hand_stats.select_dtypes(include="object").describe()

,seat,player_combo_short_name,player_combo_hand,player_combo_hand_is_suited,player_combo_hand_is_offsuit,player_combo_hand_is_paired,player_combo_hand_is_connector,player_combo_hand_is_one_gapper,player_combo_hand_is_two_gapper,player_combo_hand_is_broadway,...,player_combo_second_card_is_face,player_combo_second_card_rank,player_combo_second_card_suit,player_position_name,all_in_street,face_all_in_street,fold_street,face_covering_bet_street,facing_all_in_move,facing_covering_bet_move
count,2152323,590928,590928,590928,590928,590928,590928,590928,590928,590928,...,590928,590928,590928,2152323,189081,0,1641132,258325,0,258325
unique,10,1326,169,2,2,2,2,2,2,2,...,2,13,4,10,4,0,4,4,0,4
top,1,QhQc,AKo,False,True,False,False,False,False,False,...,False,2,c,SB,PF,NaN,PF,PF,NaN,R
freq,349585,1007,10698,436796,371546,525678,488105,502830,514345,447942,...,498808,67825,163413,372910,132661,NaN,1449250,195237,NaN,119505

In [9]:
# exploitable_hand_stats = data_loader.load_exploitable_hand_stats()
# exploitable_hand_stats.shape

In [10]:
# exploitable_hand_stats.head()