In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
player_stats = data_loader.load_player_stats()
player_stats.shape

(67358, 8)

In [4]:
player_stats.head()

,name,id,cnt_hands_played,general_stats,preflop_stats,flop_stats,turn_stats,river_stats
0,--------N---,23147.0,1.0,359.0,4.0,3.0,3.0,4.0
1,-----DAV----,57271.0,8.0,363.0,12.0,10.0,11.0,12.0
2,----_----,54455.0,37.0,370.0,11.0,8.0,8.0,10.0
3,----LB----,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--- DAN ---,16469.0,1.0,366.0,7.0,9.0,13.0,11.0

In [5]:
preflop_player_stats = data_loader.load_preflop_player_stats()
preflop_player_stats.shape

(67358, 34)

In [6]:
preflop_player_stats.head()

,name,id,cnt_hands_played,general_stats,flop_stats,turn_stats,river_stats,preflop_cnt_vpip,preflop_cnt_open_opportunity,preflop_cnt_open,...,preflop_cnt_squeeze,preflop_cnt_face_squeeze,preflop_cnt_steal_opportunity,preflop_cnt_steal_attempt,preflop_cnt_face_steal_attempt,preflop_cnt_fold_to_steal_attempt,preflop_cnt_blind_defense_opportunity,preflop_cnt_blind_defense,preflop_cnt_open_shove,preflop_cnt_voluntary_all_in
0,--------N---,23147.0,1,359.0,3.0,3.0,4.0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
1,-----DAV----,57271.0,8,363.0,10.0,11.0,12.0,1,4,1,...,0,0,0,0,0,0,1,0,1,1
2,----_----,54455.0,37,370.0,8.0,8.0,10.0,7,13,2,...,0,0,3,0,5,3,10,3,0,5
3,----LB----,NaN,0,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,--- DAN ---,16469.0,1,366.0,9.0,13.0,11.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data_loader.load_raw_preflop_player_stats()

,id,player,cnt_vpip,cnt_open_opportunity,cnt_open,cnt_first_raise,cnt_fold,cnt_limp,cnt_cold_called,cnt_raise,...,cnt_squeeze,cnt_face_squeeze,cnt_steal_opportunity,cnt_steal_attempt,cnt_face_steal_attempt,cnt_fold_to_steal_attempt,cnt_blind_defense_opportunity,cnt_blind_defense,cnt_open_shove,cnt_voluntary_all_in
0,8,19867,4,8,4,3,13,1,2,3,...,0,1,4,2,4,4,6,0,0,0
1,9,4715,6,10,4,3,19,0,1,6,...,0,0,2,0,5,4,4,1,2,4
2,3,18799,6,5,5,0,9,1,3,2,...,0,0,2,1,2,0,4,2,1,3
3,5,22024,0,1,0,0,2,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,10,18176,7,16,6,2,32,0,4,3,...,0,0,4,1,5,5,12,4,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55689,36395,56588,7,6,7,0,8,5,2,0,...,0,0,2,0,2,1,4,2,0,0
55690,36398,1245,1,1,1,1,0,0,1,1,...,0,0,1,1,0,0,1,1,0,1
55691,36397,7870,3,2,3,0,9,1,2,0,...,0,0,0,0,0,0,4,1,0,1
55692,47571,47817,18,35,12,5,63,1,6,13,...,1,3,13,3,18,12,26,7,1,12
55693,55147,54911,5,4,3,1,7,0,1,4,...,1,0,0,0,3,1,4,2,1,1