In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
general_player_hand_stats = data_loader.load_general_player_hand_stats()
general_player_hand_stats.head()

,id,player,hand_history,flag_went_to_showdown,flag_is_hero,flag_won_hand,starting_stack,bounty,amount_won,chips_difference,...,player_combo_suit_card2,player_position_name,player_position_is_early,player_position_is_middle,player_position_is_late,player_position_is_blind,all_in_street,fold_street,face_covering_bet_street,facing_covering_bet_move
0,681519,2,117212,True,True,True,108320.0,0.00,204012.0,103276.0,...,h,CO,False,False,True,False,T,NaN,T,C
1,1279556,53014,227139,False,False,False,23473.0,9.00,0.0,-1800.0,...,NaN,BB,False,False,False,True,NaN,PF,NaN,NaN
2,1279559,16408,227139,False,False,False,30792.0,4.50,0.0,-200.0,...,NaN,HJ,False,True,False,False,NaN,PF,NaN,NaN
3,1279563,2,227139,False,True,False,63875.0,7.87,0.0,-200.0,...,c,CO,False,False,True,False,NaN,PF,NaN,NaN
4,1279588,53015,227139,False,False,True,67455.0,6.75,6600.0,3200.0,...,NaN,BTN,False,False,True,False,NaN,NaN,NaN,NaN

In [4]:
general_player_hand_stats.shape

(2152323, 36)

In [5]:
general_player_hand_stats.describe()

,id,player,hand_history,starting_stack,bounty,amount_won,chips_difference,amount_expected_won,total_bet_amount,facing_all_in_move,face_all_in_street,player_combo_hand
count,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2152323.0,2.152323e+06,0.0,0.0,590928.000000
mean,1.113693e+06,2.908358e+04,1.933027e+05,9.362407e+04,1.750785e+00,1.049110e+04,2.155271e+02,0.0,8.903979e+03,NaN,NaN,97.518825
std,6.514430e+05,2.179131e+04,1.162605e+05,5.071168e+05,5.184656e+00,1.714081e+05,7.960936e+04,0.0,1.375818e+05,NaN,NaN,49.646920
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,-2.709410e+07,0.0,0.000000e+00,NaN,NaN,1.000000
25%,5.386735e+05,8.960000e+03,8.730200e+04,1.665300e+04,0.000000e+00,0.000000e+00,-7.800000e+02,0.0,0.000000e+00,NaN,NaN,55.000000
50%,1.116541e+06,2.811900e+04,1.948450e+05,2.554200e+04,0.000000e+00,0.000000e+00,-1.400000e+02,0.0,0.000000e+00,NaN,NaN,105.000000
75%,1.686240e+06,4.747800e+04,2.961960e+05,5.875000e+04,2.250000e+00,0.000000e+00,-2.500000e+01,0.0,8.660000e+02,NaN,NaN,142.000000
max,2.224320e+06,7.053300e+04,3.909550e+05,8.115331e+07,2.756500e+02,7.939331e+07,2.825410e+07,0.0,5.099921e+07,NaN,NaN,169.000000

In [6]:
general_player_hand_stats.select_dtypes(include="object").describe()

,seat,player_combo_short_name,player_combo_short_name_card1,player_combo_is_broadway_card1,player_combo_is_face_card1,player_combo_rank_card1,player_combo_suit_card1,player_combo_short_name_card2,player_combo_is_broadway_card2,player_combo_is_face_card2,player_combo_rank_card2,player_combo_suit_card2,player_position_name,all_in_street,fold_street,face_covering_bet_street,facing_covering_bet_move
count,2152323,590928,590928,590928,590928,590928,590928,590928,590928,590928,590928,590928,2152323,189081,1641132,258325,258325
unique,10,1326,51,2,2,13,4,51,2,2,13,4,10,4,4,4,4
top,1,QhQc,As,True,False,A,s,2c,False,False,2,c,SB,PF,PF,PF,R
freq,349585,1007,33967,404146,367506,129537,163304,17755,447942,498808,67825,163413,372910,132661,1449250,195237,119505

In [7]:
# exploitable_hand_stats = data_loader.load_exploitable_hand_stats()
# exploitable_hand_stats.shape

In [8]:
# exploitable_hand_stats.head()