In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
exploitable_hand_stats = data_loader.load_exploitable_hand_stats()
exploitable_hand_stats.shape

(590928, 302)

In [4]:
exploitable_hand_stats.head()

,player,hand_id,hand_date,tournament,flop,turn,river,max_players,cnt_players,button_seat,...,river_ratio_bet_made,river_ratio_first_raise_made,river_ratio_second_raise_made,river_total_bet_amount,river_move_facing_1bet,river_move_facing_2bet,river_move_facing_3bet,river_move_facing_4bet,river_move_facing_cbet,river_move_facing_donk_bet
0,2,2409773327921971201-46-1658304244,2022-07-20 08:04:04+00:00,2512,7506.0,42.0,12.0,6,5,3,...,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2,2830234451353534467-142-1685701443,2023-06-02 10:24:03+00:00,4731,NaN,NaN,NaN,6,5,6,...,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,2,2830234451353534467-111-1685699411,2023-06-02 09:50:11+00:00,4731,NaN,NaN,NaN,6,6,4,...,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,52887,2828869059775299637-82-1685615533,2023-06-01 10:32:13+00:00,4730,16662.0,40.0,51.0,6,6,6,...,0.333333,0.0,0.0,5712.0,NaN,NaN,NaN,NaN,NaN,NaN
11,2,2828869059775299637-82-1685615533,2023-06-01 10:32:13+00:00,4730,16662.0,40.0,51.0,6,6,6,...,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN