In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
player_hand_stats = data_loader.load_player_hand_stats()

In [5]:
player_hand_stats.head(10)

,player,hand_id,hand_date,tournament,flop,turn,river,max_players,cnt_players,button_seat,...,river_ratio_bet_made,river_ratio_first_raise_made,river_ratio_second_raise_made,river_total_bet_amount,river_move_facing_1bet,river_move_facing_2bet,river_move_facing_3bet,river_move_facing_4bet,river_move_facing_cbet,river_move_facing_donk_bet
0,2,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504.0,5541.0,NaN,NaN,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,4646,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504.0,5541.0,NaN,NaN,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,4644,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504.0,5541.0,NaN,NaN,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4643,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504.0,5541.0,NaN,NaN,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4645,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504.0,5541.0,NaN,NaN,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,4642,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504.0,5541.0,NaN,NaN,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,2,1016186032418193414-101-1528204664,2018-06-05 13:17:44+00:00,504.0,3155.0,15.0,7.0,6.0,6.0,1.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,4646,1016186032418193414-101-1528204664,2018-06-05 13:17:44+00:00,504.0,3155.0,15.0,7.0,6.0,6.0,1.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,4644,1016186032418193414-101-1528204664,2018-06-05 13:17:44+00:00,504.0,3155.0,15.0,7.0,6.0,6.0,1.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,4643,1016186032418193414-101-1528204664,2018-06-05 13:17:44+00:00,504.0,3155.0,15.0,7.0,6.0,6.0,1.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
hand_histories = pd.read_csv(os.path.join(ANALYTICS_DATA_DIR, 'hand_histories.csv'), index_col=0)
hand_histories.head(10)

NameError: name 'pd' is not defined

In [ ]:
general_player_hand_stats = pd.read_csv(os.path.join(ANALYTICS_DATA_DIR, 'general_player_hand_stats.csv'), index_col=0)

In [ ]:
general_player_hand_stats.head(10)

In [ ]:
general_player_hand_stats.describe()

In [ ]:
exploitable_filter =~ general_player_hand_stats['position'].isna()

In [ ]:
exploitable_hands = general_player_hand_stats[exploitable_filter]
exploitable_hands.head(5)

In [ ]:
exploitable_hands.describe()

In [ ]:
exploitable_hands['position'].astype('int8').value_counts().sort_index()