In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader
data_loader = DataLoader()

In [3]:
general_player_hand_stats = data_loader.load_general_player_hand_stats()
general_player_hand_stats.head()

,id,player,hand_history,flag_went_to_showdown,flag_is_hero,flag_won_hand,starting_stack,bounty,amount_won,chips_difference,...,player_position_is_early,player_position_is_middle,player_position_is_late,player_position_is_blind,fold_street,all_in_street,face_covering_bet_street,face_all_in_street,facing_covering_bet_move,facing_all_in_move
0,681519,2,117212,True,True,True,108320.0,0.00,204012.0,103276.0,...,False,False,True,False,NaN,T,T,NaN,C,NaN
1,1279556,53014,227139,False,False,False,23473.0,9.00,0.0,-1800.0,...,False,False,False,True,PF,NaN,NaN,NaN,NaN,NaN
2,1279559,16408,227139,False,False,False,30792.0,4.50,0.0,-200.0,...,False,True,False,False,PF,NaN,NaN,NaN,NaN,NaN
3,1279563,2,227139,False,True,False,63875.0,7.87,0.0,-200.0,...,False,False,True,False,PF,NaN,NaN,NaN,NaN,NaN
4,1279588,53015,227139,False,False,True,67455.0,6.75,6600.0,3200.0,...,False,False,True,False,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
general_player_hand_stats.shape

(2152323, 49)

In [5]:
general_player_hand_stats.describe()

,id,player,hand_history,starting_stack,bounty,amount_won,chips_difference,amount_expected_won,total_bet_amount,player_combo_hand_rank_difference
count,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2152323.0,2.152323e+06,590928.000000
mean,1.113693e+06,2.908358e+04,1.933027e+05,9.362407e+04,1.750785e+00,1.049110e+04,2.155271e+02,0.0,8.903979e+03,3.486516
std,6.514430e+05,2.179131e+04,1.162605e+05,5.071168e+05,5.184656e+00,1.714081e+05,7.960936e+04,0.0,1.375818e+05,2.664116
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,-2.709410e+07,0.0,0.000000e+00,0.000000
25%,5.386735e+05,8.960000e+03,8.730200e+04,1.665300e+04,0.000000e+00,0.000000e+00,-7.800000e+02,0.0,0.000000e+00,1.000000
50%,1.116541e+06,2.811900e+04,1.948450e+05,2.554200e+04,0.000000e+00,0.000000e+00,-1.400000e+02,0.0,0.000000e+00,3.000000
75%,1.686240e+06,4.747800e+04,2.961960e+05,5.875000e+04,2.250000e+00,0.000000e+00,-2.500000e+01,0.0,8.660000e+02,5.000000
max,2.224320e+06,7.053300e+04,3.909550e+05,8.115331e+07,2.756500e+02,7.939331e+07,2.825410e+07,0.0,5.099921e+07,11.000000

In [6]:
general_player_hand_stats.select_dtypes(include="object").describe()

,seat,player_combo_short_name,player_combo_hand,player_combo_hand_is_suited,player_combo_hand_is_offsuit,player_combo_hand_is_paired,player_combo_hand_is_connector,player_combo_hand_is_one_gapper,player_combo_hand_is_two_gapper,player_combo_hand_is_broadway,...,player_combo_second_card_is_face,player_combo_second_card_rank,player_combo_second_card_suit,player_position_name,fold_street,all_in_street,face_covering_bet_street,face_all_in_street,facing_covering_bet_move,facing_all_in_move
count,2152323,590928,590928,590928,590928,590928,590928,590928,590928,590928,...,590928,590928,590928,2152323,1641132,189081,258325,0,258325,0
unique,10,1326,169,2,2,2,2,2,2,2,...,2,13,4,10,4,4,4,0,4,0
top,1,QhQc,AKo,False,True,False,False,False,False,False,...,False,2,c,SB,PF,PF,PF,NaN,R,NaN
freq,349585,1007,10698,436796,371546,525678,488105,502830,514345,447942,...,498808,67825,163413,372910,1449250,132661,195237,NaN,119505,NaN