In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [4]:
player_stats = data_loader.load_player_stats()
player_stats.shape

(67358, 8)

In [5]:
player_stats.head()

,name,id,cnt_hands_played,general_stats,preflop_stats,flop_stats,turn_stats,river_stats
0,--------N---,23147.0,1.0,359.0,4.0,3.0,3.0,4.0
1,-----DAV----,57271.0,8.0,363.0,12.0,10.0,11.0,12.0
2,----_----,54455.0,37.0,370.0,11.0,8.0,8.0,10.0
3,----LB----,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,--- DAN ---,16469.0,1.0,366.0,7.0,9.0,13.0,11.0

In [6]:
general_player_stats = data_loader.load_general_player_stats()
general_player_stats.shape

(55694, 11)

In [7]:
general_player_stats.head()

,name,id,cnt_hands_played,preflop_stats,flop_stats,turn_stats,river_stats,player,cnt_went_to_showdown,cnt_is_hero,cnt_won_hand
0,--------N---,23147.0,1,4.0,3.0,3.0,4.0,23287,1,0,0
1,-----DAV----,57271.0,8,12.0,10.0,11.0,12.0,57746,1,0,0
2,----_----,54455.0,37,11.0,8.0,8.0,10.0,54919,4,0,4
3,--- DAN ---,16469.0,1,7.0,9.0,13.0,11.0,16611,0,0,0
4,---3B---,19727.0,17,8.0,5.0,9.0,8.0,19867,0,0,1