In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
raw_hands = data_loader.load_raw_hands()
raw_hands.head()

,id,short_name,first_rank,second_rank,shape,is_suited,is_offsuit,is_paired,is_connector,is_one_gapper,is_two_gapper,is_broadway,is_face,is_suited_connector,rank_difference
0,1,32o,2,1,1,False,True,False,True,False,False,False,False,False,1
1,2,32s,2,1,2,True,False,False,True,False,False,False,False,True,1
2,3,42o,3,1,1,False,True,False,False,True,False,False,False,False,2
3,4,42s,3,1,2,True,False,False,False,True,False,False,False,False,2
4,5,43o,3,2,1,False,True,False,True,False,False,False,False,False,1

In [4]:
hands = data_loader.load_hands()
hands.head()

,id,short_name,shape,is_suited,is_offsuit,is_paired,is_connector,is_one_gapper,is_two_gapper,is_broadway,is_face,is_suited_connector,rank_difference,first_rank,second_rank
0,1,32o,1,False,True,False,True,False,False,False,False,False,1,3,2
1,2,32s,2,True,False,False,True,False,False,False,False,True,1,3,2
2,3,42o,1,False,True,False,False,True,False,False,False,False,2,4,2
3,4,42s,2,True,False,False,False,True,False,False,False,False,2,4,2
4,5,43o,1,False,True,False,True,False,False,False,False,False,1,4,3

In [ ]:
general_player_hand_stats = data_loader.load_general_player_hand_stats()
general_player_hand_stats.head()

In [26]:
general_player_hand_stats.shape

(2152323, 36)

In [27]:
general_player_hand_stats.describe()

,id,player,hand_history,starting_stack,bounty,amount_won,chips_difference,amount_expected_won,total_bet_amount,player_combo_hand
count,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2.152323e+06,2152323.0,2.152323e+06,590928.000000
mean,1.113693e+06,2.908358e+04,1.933027e+05,9.362407e+04,1.750785e+00,1.049110e+04,2.155271e+02,0.0,8.903979e+03,97.518825
std,6.514430e+05,2.179131e+04,1.162605e+05,5.071168e+05,5.184656e+00,1.714081e+05,7.960936e+04,0.0,1.375818e+05,49.646920
min,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,0.000000e+00,-2.709410e+07,0.0,0.000000e+00,1.000000
25%,5.386735e+05,8.960000e+03,8.730200e+04,1.665300e+04,0.000000e+00,0.000000e+00,-7.800000e+02,0.0,0.000000e+00,55.000000
50%,1.116541e+06,2.811900e+04,1.948450e+05,2.554200e+04,0.000000e+00,0.000000e+00,-1.400000e+02,0.0,0.000000e+00,105.000000
75%,1.686240e+06,4.747800e+04,2.961960e+05,5.875000e+04,2.250000e+00,0.000000e+00,-2.500000e+01,0.0,8.660000e+02,142.000000
max,2.224320e+06,7.053300e+04,3.909550e+05,8.115331e+07,2.756500e+02,7.939331e+07,2.825410e+07,0.0,5.099921e+07,169.000000

In [28]:
general_player_hand_stats.select_dtypes(include="object").describe()

,seat,player_combo_short_name,player_combo_short_name_card1,player_combo_is_broadway_card1,player_combo_is_face_card1,player_combo_rank_card1,player_combo_suit_card1,player_combo_short_name_card2,player_combo_is_broadway_card2,player_combo_is_face_card2,player_combo_rank_card2,player_combo_suit_card2,player_position_name,all_in_street,face_all_in_street,fold_street,face_covering_bet_street,facing_all_in_move,facing_covering_bet_move
count,2152323,590928,590928,590928,590928,590928,590928,590928,590928,590928,590928,590928,2152323,189081,0,1641132,258325,0,258325
unique,10,1326,51,2,2,13,4,51,2,2,13,4,10,4,0,4,4,0,4
top,1,QhQc,As,True,False,A,s,2c,False,False,2,c,SB,PF,NaN,PF,PF,NaN,R
freq,349585,1007,33967,404146,367506,129537,163304,17755,447942,498808,67825,163413,372910,132661,NaN,1449250,195237,NaN,119505

In [29]:
# exploitable_hand_stats = data_loader.load_exploitable_hand_stats()
# exploitable_hand_stats.shape

In [30]:
# exploitable_hand_stats.head()