In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
hand_histories = data_loader.load_hand_histories()
print(hand_histories.shape)
hand_histories.head()

(383155, 12)

,id,hand_id,hand_date,tournament,flop,turn,river,max_players,cnt_players,button_seat,level,hero_combo
367010,39804,539281767337558375-1-1438948828,2015-08-07 12:00:28+00:00,1,14398.0,1.0,39.0,6,6,2,146,1256.0
367011,39805,539281767337558375-2-1438948899,2015-08-07 12:01:39+00:00,1,10419.0,40.0,23.0,6,6,3,146,43.0
367008,39802,539281767337558292-2-1438948980,2015-08-07 12:03:00+00:00,1,20122.0,1.0,15.0,6,6,3,146,677.0
367009,39803,539281767337558292-3-1438949014,2015-08-07 12:03:34+00:00,1,15230.0,36.0,20.0,6,5,4,108,534.0
367012,39806,539281767337558454-1-1438949056,2015-08-07 12:04:16+00:00,1,13381.0,4.0,41.0,6,6,5,108,1277.0

In [4]:
# exploitable_hand_stats = data_loader.load_exploitable_hand_stats()
# exploitable_hand_stats.shape

In [5]:
# exploitable_hand_stats.head()