In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader
data_loader = DataLoader()

In [3]:
from src.loaders.raw.hand_histories import RawHandHistoriesLoader
loader = RawHandHistoriesLoader()
loader.transform(None)

,id,hand_id,hand_date,tournament,flop,turn,river,max_players,cnt_players,button_seat,level,hero_combo
0,13269,1016186032418193414-100-1528204618,2018-06-05 13:16:58+00:00,504,5541.0,NaN,NaN,6,6,6,199,1192.0
1,13270,1016186032418193414-101-1528204664,2018-06-05 13:17:44+00:00,504,3155.0,15.0,7.0,6,6,1,200,279.0
2,13271,1016186032418193414-102-1528204706,2018-06-05 13:18:26+00:00,504,16322.0,23.0,NaN,6,6,2,200,428.0
3,13272,1016186032418193414-103-1528204772,2018-06-05 13:19:32+00:00,504,19851.0,50.0,51.0,6,6,3,200,699.0
4,13273,1016186032418193414-104-1528204880,2018-06-05 13:21:20+00:00,504,NaN,NaN,NaN,6,6,4,200,894.0
...,...,...,...,...,...,...,...,...,...,...,...,...
383150,13265,940631776655573067-98-1514926924,2018-01-02 21:02:04+00:00,500,12213.0,10.0,15.0,6,6,2,198,104.0
383151,13266,940631776655573067-99-1514926983,2018-01-02 21:03:03+00:00,500,22078.0,23.0,42.0,6,6,3,198,440.0
383152,13267,940632502505046026-28-1514932549,2018-01-02 22:35:49+00:00,501,4260.0,2.0,41.0,6,5,6,196,NaN
383153,13268,940632502505046026-29-1514932604,2018-01-02 22:36:44+00:00,501,8017.0,19.0,9.0,6,6,1,197,1000.0
383154,256636,940632502505046057-1-1514932649,2018-01-02 22:37:29+00:00,501,10168.0,44.0,27.0,6,6,5,728,1094.0

In [4]:
from src.loaders.dynamic.hand_histories import HandHistoriesLoader
loader = HandHistoriesLoader()
loader.fit_transform(None)

,id,hand_date,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,level_ante,...,turn_card_short_name,turn_card_is_broadway,turn_card_is_face,turn_card_rank,turn_card_suit,river_card_short_name,river_card_is_broadway,river_card_is_face,river_card_rank,river_card_suit
0,39804,2015-08-07 12:00:28+00:00,1,6,6,2,1,10.0,20.0,0.0,...,2c,False,False,2,c,Jh,True,True,J,h
1,39805,2015-08-07 12:01:39+00:00,1,6,6,3,1,10.0,20.0,0.0,...,Js,True,True,J,s,7h,False,False,7,h
2,39802,2015-08-07 12:03:00+00:00,1,6,6,3,1,10.0,20.0,0.0,...,2c,False,False,2,c,5h,False,False,5,h
3,39803,2015-08-07 12:03:34+00:00,1,6,5,4,2,15.0,30.0,0.0,...,Ts,True,False,T,s,6s,False,False,6,s
4,39806,2015-08-07 12:04:16+00:00,1,6,6,5,2,15.0,30.0,0.0,...,2s,False,False,2,s,Qc,True,True,Q,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383150,257010,2024-09-07 18:51:36+00:00,6840,8,3,6,1,2000.0,4000.0,500.0,...,NaN,True,True,NaN,NaN,NaN,True,True,NaN,NaN
383151,257009,2024-09-07 18:52:20+00:00,6840,8,7,1,10,2500.0,5000.0,600.0,...,NaN,True,True,NaN,NaN,NaN,True,True,NaN,NaN
383152,257008,2024-09-07 18:52:45+00:00,6840,8,7,2,10,2500.0,5000.0,600.0,...,Qd,True,True,Q,d,NaN,True,True,NaN,NaN
383153,257007,2024-09-07 18:54:02+00:00,6840,8,7,4,10,2500.0,5000.0,600.0,...,Jh,True,True,J,h,2c,False,False,2,c
383154,257043,2024-09-07 18:54:46+00:00,6840,8,8,3,10,2500.0,5000.0,600.0,...,As,True,False,A,s,4h,False,False,4,h

In [5]:
hand_histories = data_loader.load_hand_histories()
hand_histories.head()

,id,hand_date,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,level_ante,...,turn_card_short_name,turn_card_is_broadway,turn_card_is_face,turn_card_rank,turn_card_suit,river_card_short_name,river_card_is_broadway,river_card_is_face,river_card_rank,river_card_suit
0,39804,2015-08-07 12:00:28+00:00,1,6,6,2,1,10.0,20.0,0.0,...,2c,False,False,2,c,Jh,True,True,J,h
1,39805,2015-08-07 12:01:39+00:00,1,6,6,3,1,10.0,20.0,0.0,...,Js,True,True,J,s,7h,False,False,7,h
2,39802,2015-08-07 12:03:00+00:00,1,6,6,3,1,10.0,20.0,0.0,...,2c,False,False,2,c,5h,False,False,5,h
3,39803,2015-08-07 12:03:34+00:00,1,6,5,4,2,15.0,30.0,0.0,...,Ts,True,False,T,s,6s,False,False,6,s
4,39806,2015-08-07 12:04:16+00:00,1,6,6,5,2,15.0,30.0,0.0,...,2s,False,False,2,s,Qc,True,True,Q,c

In [6]:
hand_histories.shape

(383155, 72)

In [7]:
memory_used = hand_histories.memory_usage(deep=True).sum()

In [8]:
print(f"Memory used: {memory_used / 1024 ** 2:.2f} MB, {memory_used / 1024 ** 3:.2f} GB")

Memory used: 48.04 MB, 0.05 GB

In [9]:
hand_histories.describe()

,id,tournament,max_players,cnt_players,button_seat,level_value,level_sb,level_bb,level_ante,hero_combo_hand_rank_difference,flop_min_distance,flop_max_distance
count,383155.000000,383155.000000,383155.000000,383155.000000,383155.000000,383155.000000,383155.000000,3.831550e+05,383155.000000,382845.000000,241021.000000,241021.000000
mean,195606.461756,3590.134029,6.265827,5.769441,3.630946,10.429100,1869.269897,3.738540e+03,445.818878,3.954546,1.562959,5.964787
std,113863.597623,1842.786204,1.026848,1.166572,1.880291,7.865857,10849.684570,2.169937e+04,2579.290039,2.693459,1.157367,2.503885
min,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000,10.000000,2.000000e+01,0.000000,0.000000,0.000000,0.000000
25%,95807.500000,1927.000000,6.000000,5.000000,2.000000,4.000000,150.000000,3.000000e+02,35.000000,2.000000,1.000000,4.000000
50%,195863.000000,3874.000000,6.000000,6.000000,4.000000,9.000000,350.000000,7.000000e+02,80.000000,4.000000,1.000000,6.000000
75%,295166.500000,5231.000000,6.000000,6.000000,5.000000,15.000000,800.000000,1.600000e+03,200.000000,6.000000,2.000000,8.000000
max,390955.000000,6842.000000,10.000000,10.000000,10.000000,166.000000,700000.000000,1.400000e+06,160000.000000,11.000000,5.000000,11.000000

In [10]:
hand_histories.dtypes

id                                      int64
hand_date                 datetime64[ns, UTC]
tournament                              int64
max_players                              Int8
cnt_players                              Int8
                                 ...
river_card_short_name                category
river_card_is_broadway                   bool
river_card_is_face                       bool
river_card_rank                      category
river_card_suit                      category
Length: 72, dtype: object

In [11]:
hand_histories.select_dtypes(include="boolean").describe()

,hero_combo_hand_is_suited,hero_combo_hand_is_offsuit,hero_combo_hand_is_paired,hero_combo_hand_is_connector,hero_combo_hand_is_one_gapper,hero_combo_hand_is_two_gapper,hero_combo_hand_is_broadway,hero_combo_hand_is_face,hero_combo_hand_is_suited_connector,hero_combo_first_card_is_broadway,...,flop_first_card_is_broadway,flop_first_card_is_face,flop_second_card_is_broadway,flop_second_card_is_face,flop_third_card_is_broadway,flop_third_card_is_face,turn_card_is_broadway,turn_card_is_face,river_card_is_broadway,river_card_is_face
count,383155,383155,383155,383155,383155,383155,383155,383155,383155,383155,...,383155,383155,383155,383155,383155,383155,383155,383155,383155,383155
unique,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,False,True,False,False,False,False,False,False,False,True,...,True,True,True,False,False,False,True,True,True,True
freq,292618,270168,360085,322553,327411,332258,328190,363617,367630,239917,...,327548,252514,218954,192250,229110,235209,268351,240899,289294,266822