In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()

In [3]:
general_player_hand_stats = data_loader.load_general_player_hand_stats()
general_player_hand_stats.head()

,id,player,hand_history,flag_went_to_showdown,flag_is_hero,flag_won_hand,starting_stack,bounty,amount_won,chips_difference,...,player_combo_short_name_card2,player_combo_is_broadway_card2,player_combo_is_face_card2,player_combo_rank_card2,player_combo_suit_card2,player_position_name,player_position_is_early,player_position_is_middle,player_position_is_late,player_position_is_blind
0,681519,2,117212,True,True,True,108320.0,0.00,204012.0,103276.0,...,Jh,True,True,J,h,CO,False,False,True,False
1,1279556,53014,227139,False,False,False,23473.0,9.00,0.0,-1800.0,...,NaN,NaN,NaN,NaN,NaN,BB,False,False,False,True
2,1279559,16408,227139,False,False,False,30792.0,4.50,0.0,-200.0,...,NaN,NaN,NaN,NaN,NaN,HJ,False,True,False,False
3,1279563,2,227139,False,True,False,63875.0,7.87,0.0,-200.0,...,3c,False,False,3,c,CO,False,False,True,False
4,1279588,53015,227139,False,False,True,67455.0,6.75,6600.0,3200.0,...,NaN,NaN,NaN,NaN,NaN,BTN,False,False,True,False

In [7]:
general_player_hand_stats.select_dtypes(include="object").describe()

,player_combo_short_name,player_combo_short_name_card1,player_combo_is_broadway_card1,player_combo_is_face_card1,player_combo_rank_card1,player_combo_suit_card1,player_combo_short_name_card2,player_combo_is_broadway_card2,player_combo_is_face_card2,player_combo_rank_card2,player_combo_suit_card2,player_position_name
count,590928,590928,590928,590928,590928,590928,590928,590928,590928,590928,590928,2152323
unique,1326,51,2,2,13,4,51,2,2,13,4,10
top,QhQc,As,True,False,A,s,2c,False,False,2,c,SB
freq,1007,33967,404146,367506,129537,163304,17755,447942,498808,67825,163413,372910

In [5]:
# exploitable_hand_stats = data_loader.load_exploitable_hand_stats()
# exploitable_hand_stats.shape

In [6]:
# exploitable_hand_stats.head()