In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader

data_loader = DataLoader()
data = data_loader.fast_load_showdown_hands()
print(data.info())
data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261674 entries, 7 to 2216198
Columns: 397 entries, id to river_total_bet_amount_bb
dtypes: bool(148), category(77), datetime64[ns, UTC](1), float16(37), float32(115), float64(5), int64(1), int8(13)
memory usage: 215.4 MB
None

,id,hand_date,max_players,cnt_players,button_seat,tournament_id,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
7,68022,2018-06-05 13:17:44+00:00,6,6,1,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,68018,2018-06-05 13:17:44+00:00,6,6,1,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,68031,2018-06-05 13:19:32+00:00,6,6,3,236599248,5.0,REGULAR,KO,1001 - 2000,...,7.15,27.136667,14.3,0.0,0.0,0.0,0.0,0.0,0.0,14.3
21,68030,2018-06-05 13:19:32+00:00,6,6,3,236599248,5.0,REGULAR,KO,1001 - 2000,...,7.15,41.436668,0.0,0.0,0.0,0.0,14.3,0.0,0.0,14.3
31,68046,2018-06-05 13:21:43+00:00,6,6,5,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.00,23.396667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
from src.transformers.preprocessing.features import GlobalFeaturesPreprocessor
preprocessor = GlobalFeaturesPreprocessor()
features = preprocessor.fit_transform(data)
print(features.info())
features.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261674 entries, 7 to 2216198
Columns: 454 entries, max_players to river_move_facing_donk_bet_nan
dtypes: float16(37), float32(115), float64(154), int8(148)
memory usage: 487.7 MB
None

,max_players,cnt_players,button_seat,ref_tournament_buy_in_total,level_value,level_sb,level_bb,level_ante,hero_combo_hand_is_suited,hero_combo_hand_is_offsuit,...,river_move_facing_3bet_C,river_move_facing_3bet_R,river_move_facing_3bet_nan,river_move_facing_4bet_C,river_move_facing_4bet_R,river_move_facing_4bet_nan,river_move_facing_cbet_C,river_move_facing_cbet_R,river_move_facing_cbet_nan,river_move_facing_donk_bet_nan
7,6,6,1,5.0,11,600.0,1200.0,160.0,0,1,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
9,6,6,1,5.0,11,600.0,1200.0,160.0,0,1,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
20,6,6,3,5.0,11,600.0,1200.0,160.0,0,0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
21,6,6,3,5.0,11,600.0,1200.0,160.0,0,0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
31,6,6,5,5.0,11,600.0,1200.0,160.0,1,0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0