In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
import pandas as pd
from src.data.loader import DataLoader

In [3]:
data_loader = DataLoader()
data = data_loader.fast_load_villain_hands()

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1586030 entries, 1 to 2216193
Columns: 397 entries, id to river_total_bet_amount_bb
dtypes: Int16(1), Int8(17), bool(148), category(72), datetime64[ns, UTC](1), float16(37), float32(115), int64(1), object(5)
memory usage: 1.3+ GB

In [5]:
data.select_dtypes(include="category").describe().T.sort_values(by="unique", ascending=False)

                            count unique        top     freq
player_name               1586030  55694   manggy94    10914
flop                      1017722  22099     5s5c4c      125
tournament_id             1586030   6418  646726678     3295
player_combo               186569   1326       QhQc      631
hero_combo                1584470   1326       Jc3d     1458
...                           ...    ...        ...      ...
preflop_move_facing_4bet    11574      3          F     5817
flop_move_facing_4bet         210      3          C      144
flop_move_facing_3bet        1796      3          C     1064
hero_combo_hand_shape     1584470      3    OFFSUIT  1117653
ref_tournament_speed      1586030      2      TURBO  1116961

[72 rows x 4 columns]

In [6]:
data.head()

,id,hand_date,max_players,cnt_players,button_seat,tournament_id,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
1,68016,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,68013,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,68012,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,68014,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,68011,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from src.pipelines.preprocessing.features.random_forest import RandomForestFeaturesPreprocessor
preprocessor = RandomForestFeaturesPreprocessor()

In [8]:
features = preprocessor.fit_transform(data)

In [9]:
features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1586030 entries, 1 to 2216193
Columns: 1858 entries, max_players to hero_combo_hand_None
dtypes: Int16(1), Int8(151), Sparse[uint8, 0](1497), category(50), float16(37), float32(115), int8(7)
memory usage: 1.4 GB

In [10]:
features.head(10)

,max_players,cnt_players,button_seat,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,level_value,level_sb,level_bb,...,hero_combo_hand_T6o,hero_combo_hand_T6s,hero_combo_hand_T7o,hero_combo_hand_T7s,hero_combo_hand_T8o,hero_combo_hand_T8s,hero_combo_hand_T9o,hero_combo_hand_T9s,hero_combo_hand_TT,hero_combo_hand_None
1,6,6,6,5.0,REGULAR,KO,1001 - 2000,10,500.0,1000.0,...,0,0,0,0,0,0,0,0,0,0
2,6,6,6,5.0,REGULAR,KO,1001 - 2000,10,500.0,1000.0,...,0,0,0,0,0,0,0,0,0,0
3,6,6,6,5.0,REGULAR,KO,1001 - 2000,10,500.0,1000.0,...,0,0,0,0,0,0,0,0,0,0
4,6,6,6,5.0,REGULAR,KO,1001 - 2000,10,500.0,1000.0,...,0,0,0,0,0,0,0,0,0,0
5,6,6,6,5.0,REGULAR,KO,1001 - 2000,10,500.0,1000.0,...,0,0,0,0,0,0,0,0,0,0
7,6,6,1,5.0,REGULAR,KO,1001 - 2000,11,600.0,1200.0,...,0,0,0,0,0,0,0,0,0,0
8,6,6,1,5.0,REGULAR,KO,1001 - 2000,11,600.0,1200.0,...,0,0,0,0,0,0,0,0,0,0
9,6,6,1,5.0,REGULAR,KO,1001 - 2000,11,600.0,1200.0,...,0,0,0,0,0,0,0,0,0,0
10,6,6,1,5.0,REGULAR,KO,1001 - 2000,11,600.0,1200.0,...,0,0,0,0,0,0,0,0,0,0
11,6,6,1,5.0,REGULAR,KO,1001 - 2000,11,600.0,1200.0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
from src.pipelines.preprocessing.features.categorical import CategoricalFeaturesPipeline
pipeline = CategoricalFeaturesPipeline()

In [12]:
features2 = pipeline.fit_transform(data)

(1586030, 153)
(1586030, 27)

In [13]:
features2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1586030 entries, 1 to 2216193
Columns: 180 entries, ref_tournament_type to river_move_facing_cbet_nan
dtypes: float64(180)
memory usage: 2.2 GB

In [14]:
features2.head()

,ref_tournament_type,total_players_range,hero_combo,hero_combo_hand,hero_combo_hand_first_rank,hero_combo_hand_second_rank,hero_combo_first_card,hero_combo_first_card_rank,hero_combo_second_card,hero_combo_second_card_rank,...,river_move_facing_3bet_R,river_move_facing_3bet_nan,river_move_facing_4bet_C,river_move_facing_4bet_F,river_move_facing_4bet_R,river_move_facing_4bet_nan,river_move_facing_cbet_C,river_move_facing_cbet_F,river_move_facing_cbet_R,river_move_facing_cbet_nan
1,5.0,2.0,766.0,106.0,9.0,12.0,36.0,9.0,50.0,12.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,5.0,2.0,766.0,106.0,9.0,12.0,36.0,9.0,50.0,12.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,5.0,2.0,766.0,106.0,9.0,12.0,36.0,9.0,50.0,12.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,5.0,2.0,766.0,106.0,9.0,12.0,36.0,9.0,50.0,12.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,5.0,2.0,766.0,106.0,9.0,12.0,36.0,9.0,50.0,12.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [15]:
features2.describe()

,ref_tournament_type,total_players_range,hero_combo,hero_combo_hand,hero_combo_hand_first_rank,hero_combo_hand_second_rank,hero_combo_first_card,hero_combo_first_card_rank,hero_combo_second_card,hero_combo_second_card_rank,...,river_move_facing_3bet_R,river_move_facing_3bet_nan,river_move_facing_4bet_C,river_move_facing_4bet_F,river_move_facing_4bet_R,river_move_facing_4bet_nan,river_move_facing_cbet_C,river_move_facing_cbet_F,river_move_facing_cbet_R,river_move_facing_cbet_nan
count,1.586030e+06,1.586030e+06,1.584470e+06,1.584470e+06,1.584470e+06,1.584470e+06,1.584470e+06,1.584470e+06,1.584470e+06,1.584470e+06,...,1.586030e+06,1.586030e+06,1.586030e+06,1.586030e+06,1.586030e+06,1.586030e+06,1.586030e+06,1.586030e+06,1.586030e+06,1.586030e+06
mean,3.854938e+00,7.151459e+00,6.621618e+02,8.413319e+01,7.986936e+00,4.005001e+00,3.249409e+01,7.986936e+00,1.733208e+01,4.005001e+00,...,1.513212e-05,9.998575e-01,8.827071e-06,6.305051e-07,3.152525e-06,9.999874e-01,8.978393e-03,1.450414e-02,2.307018e-03,9.742104e-01
std,2.028659e+00,3.445383e+00,3.832059e+02,4.861645e+01,2.901658e+00,3.417881e+00,1.162590e+01,2.901658e+00,1.342497e+01,3.417881e+00,...,3.889975e-03,1.193624e-02,2.971027e-03,7.940435e-04,1.775533e-03,3.551049e-03,9.432808e-02,1.195566e-01,4.797601e-02,1.585070e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.000000e+00,5.000000e+00,3.300000e+02,4.200000e+01,6.000000e+00,1.000000e+00,2.500000e+01,6.000000e+00,6.000000e+00,1.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
50%,5.000000e+00,7.000000e+00,6.630000e+02,8.500000e+01,8.000000e+00,3.000000e+00,3.400000e+01,8.000000e+00,1.500000e+01,3.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,5.000000e+00,1.100000e+01,9.940000e+02,1.270000e+02,1.000000e+01,6.000000e+00,4.200000e+01,1.000000e+01,2.500000e+01,6.000000e+00,...,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
max,1.000000e+01,1.300000e+01,1.325000e+03,1.680000e+02,1.200000e+01,1.200000e+01,5.000000e+01,1.200000e+01,5.000000e+01,1.200000e+01,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [16]:
(features2.hero_combo == 1326).sum()

0