In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
import pandas as pd
from src.data.loader import DataLoader

In [4]:
data_loader = DataLoader()
data = data_loader.fast_load_showdown_hands()

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229209 entries, 7 to 2216198
Columns: 397 entries, id to river_total_bet_amount_bb
dtypes: Int16(1), Int8(17), bool(148), category(72), datetime64[ns, UTC](1), float16(37), float32(115), int64(1), object(5)
memory usage: 192.4+ MB

In [6]:
data.head()

,id,hand_date,max_players,cnt_players,button_seat,tournament_id,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
7,68022,2018-06-05 13:17:44+00:00,6,6,1,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,68018,2018-06-05 13:17:44+00:00,6,6,1,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,68031,2018-06-05 13:19:32+00:00,6,6,3,236599248,5.0,REGULAR,KO,1001 - 2000,...,7.15,27.136667,14.3,0.0,0.0,0.0,0.0,0.0,0.0,14.3
21,68030,2018-06-05 13:19:32+00:00,6,6,3,236599248,5.0,REGULAR,KO,1001 - 2000,...,7.15,41.436668,0.0,0.0,0.0,0.0,14.3,0.0,0.0,14.3
31,68046,2018-06-05 13:21:43+00:00,6,6,5,236599248,5.0,REGULAR,KO,1001 - 2000,...,0.00,23.396667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
from src.pipelines.preprocessing.classification import ClassificationPreprocessor
preprocessor = ClassificationPreprocessor()

In [8]:
data = preprocessor.fit_transform(data)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229209 entries, 7 to 2216198
Columns: 363 entries, max_players to river_total_bet_amount_bb
dtypes: Int16(1), Int8(151), float16(37), float32(115), int16(59)
memory usage: 210.9 MB

In [10]:
data.head()

,max_players,cnt_players,button_seat,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,level_value,level_sb,level_bb,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
7,6,6,1,5.0,0,5,2,11,600.0,1200.0,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,6,6,1,5.0,0,5,2,11,600.0,1200.0,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,6,6,3,5.0,0,5,2,11,600.0,1200.0,...,7.15,27.136667,14.3,0.0,0.0,0.0,0.0,0.0,0.0,14.3
21,6,6,3,5.0,0,5,2,11,600.0,1200.0,...,7.15,41.436668,0.0,0.0,0.0,0.0,14.3,0.0,0.0,14.3
31,6,6,5,5.0,0,5,2,11,600.0,1200.0,...,0.00,23.396667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
data.describe()

,max_players,cnt_players,button_seat,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,level_value,level_sb,level_bb,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
count,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,2.292090e+05,...,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000,229209.000000
mean,6.364113,5.937760,3.668028,3.388138,0.766772,3.926635,7.209730,10.454088,1715.993530,3.431987e+03,...,2.789894,17.754112,0.563413,0.081834,0.006712,0.000551,1.105412,0.443080,0.007187,2.566537
std,1.137151,1.234237,1.924801,3.623699,0.422887,2.103186,3.414271,7.701656,10009.490234,2.001898e+04,...,11.321706,31.459257,3.072771,1.333055,0.521199,0.150074,7.196615,5.935223,0.877422,11.101094
min,2.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.000000,2.000000e+01,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,5.000000,2.000000,0.500000,1.000000,4.000000,5.000000,5.000000,150.000000,3.000000e+02,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.000000,6.000000,4.000000,2.000000,1.000000,5.000000,7.000000,9.000000,350.000000,7.000000e+02,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.000000,6.000000,5.000000,5.000000,1.000000,5.000000,11.000000,14.000000,800.000000,1.600000e+03,...,1.000000,25.455000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,10.000000,10.000000,10.000000,50.000000,1.000000,10.000000,13.000000,166.000000,700000.000000,1.400000e+06,...,666.000000,442.864288,119.468750,105.371429,180.309998,58.380001,418.565002,422.500000,188.800003,422.500000