In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.data.loader import DataLoader
data_loader = DataLoader()

In [3]:
data_loader.load_and_save_player_hand_stats()

258276
0

,id,hand_date,max_players,cnt_players,button_seat,tournament_id,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
0,68015,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,68016,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,68013,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,68012,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,68014,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216190,68010,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216191,68008,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216192,68005,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216193,68006,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216198,1498441,2018-01-02 22:37:29+00:00,6,6,5,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
data_loader.load_and_save_villain_hands()

258276
0

,id,hand_date,max_players,cnt_players,button_seat,tournament_id,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
1,68016,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,68013,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,68012,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,68014,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,68011,2018-06-05 13:16:58+00:00,6,6,6,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216188,68007,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216189,68009,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216191,68008,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216192,68005,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216193,68006,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
data_loader.load_and_save_showdown_hands()

258276
0

,id,hand_date,max_players,cnt_players,button_seat,tournament_id,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
7,68022,2018-06-05 13:17:44+00:00,6,6,1,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,68018,2018-06-05 13:17:44+00:00,6,6,1,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,68031,2018-06-05 13:19:32+00:00,6,6,3,236599248,5.00,REGULAR,KO,1001 - 2000,...,7.15,27.136667,14.3,0.0,0.0,0.0,0.0,0.0,0.0,14.3
21,68030,2018-06-05 13:19:32+00:00,6,6,3,236599248,5.00,REGULAR,KO,1001 - 2000,...,7.15,41.436668,0.0,0.0,0.0,0.0,14.3,0.0,0.0,14.3
31,68046,2018-06-05 13:21:43+00:00,6,6,5,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.00,23.396667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216183,68002,2018-01-02 22:35:49+00:00,6,5,6,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.00,12.640000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2216186,68000,2018-01-02 22:35:49+00:00,6,5,6,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.00,12.640000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2216188,68007,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216190,68010,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2216198,1498441,2018-01-02 22:37:29+00:00,6,6,5,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
data_loader.load_and_save_villain_showdown_hands()

258276
0

,id,hand_date,max_players,cnt_players,button_seat,tournament_id,ref_tournament_buy_in_total,ref_tournament_speed,ref_tournament_type,total_players_range,...,turn_total_bet_amount_bb,river_amount_effective_stack_bb,river_amount_to_call_facing_1bet_bb,river_amount_to_call_facing_2bet_bb,river_amount_to_call_facing_3bet_bb,river_amount_to_call_facing_4bet_bb,river_amount_bet_made_bb,river_amount_first_raise_made_bb,river_amount_second_raise_made_bb,river_total_bet_amount_bb
7,68022,2018-06-05 13:17:44+00:00,6,6,1,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000
9,68018,2018-06-05 13:17:44+00:00,6,6,1,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.00,39.163334,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000
20,68031,2018-06-05 13:19:32+00:00,6,6,3,236599248,5.00,REGULAR,KO,1001 - 2000,...,7.15,27.136667,14.3,0.0,0.0,0.0,0.000,0.0,0.0,14.300
21,68030,2018-06-05 13:19:32+00:00,6,6,3,236599248,5.00,REGULAR,KO,1001 - 2000,...,7.15,41.436668,0.0,0.0,0.0,0.0,14.300,0.0,0.0,14.300
31,68046,2018-06-05 13:21:43+00:00,6,6,5,236599248,5.00,REGULAR,KO,1001 - 2000,...,0.00,23.396667,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2216157,67971,2018-01-02 20:54:32+00:00,6,6,5,219007902,2.00,REGULAR,KO,1001 - 2000,...,0.00,73.496666,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000
2216163,67977,2018-01-02 21:00:05+00:00,6,6,6,219007902,2.00,REGULAR,KO,1001 - 2000,...,0.00,38.450001,0.0,0.0,0.0,0.0,3.375,0.0,0.0,3.375
2216183,68002,2018-01-02 22:35:49+00:00,6,5,6,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.00,12.640000,1.0,0.0,0.0,0.0,0.000,0.0,0.0,1.000
2216186,68000,2018-01-02 22:35:49+00:00,6,5,6,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.00,12.640000,0.0,0.0,0.0,0.0,1.000,0.0,0.0,1.000
2216188,68007,2018-01-02 22:36:44+00:00,6,6,1,219008071,0.25,TURBO,CLASSIC,201 - 500,...,0.00,0.000000,0.0,0.0,0.0,0.0,0.000,0.0,0.0,0.000