In [3]:
from dotenv import load_dotenv
load_dotenv()

True

In [4]:
from src.mappers.combos_to_first_rank import combos_first_rank_matrix
combos_first_rank_matrix()

      2  3  4  5  6  7  8  9  T  J  Q  K  A
2d2c  1  0  0  0  0  0  0  0  0  0  0  0  0
2h2c  1  0  0  0  0  0  0  0  0  0  0  0  0
2h2d  1  0  0  0  0  0  0  0  0  0  0  0  0
2s2c  1  0  0  0  0  0  0  0  0  0  0  0  0
2s2d  1  0  0  0  0  0  0  0  0  0  0  0  0
...  .. .. .. .. .. .. .. .. .. .. .. .. ..
Ts9h  0  0  0  0  0  0  0  0  1  0  0  0  0
Ts9s  0  0  0  0  0  0  0  0  1  0  0  0  0
TsTc  0  0  0  0  0  0  0  0  1  0  0  0  0
TsTd  0  0  0  0  0  0  0  0  1  0  0  0  0
TsTh  0  0  0  0  0  0  0  0  1  0  0  0  0

[1326 rows x 13 columns]

In [5]:
from src.mappers.combos_to_second_rank import combos_second_rank_matrix
combos_second_rank_matrix()

      2  3  4  5  6  7  8  9  T  J  Q  K  A
2d2c  1  0  0  0  0  0  0  0  0  0  0  0  0
2h2c  1  0  0  0  0  0  0  0  0  0  0  0  0
2h2d  1  0  0  0  0  0  0  0  0  0  0  0  0
2s2c  1  0  0  0  0  0  0  0  0  0  0  0  0
2s2d  1  0  0  0  0  0  0  0  0  0  0  0  0
...  .. .. .. .. .. .. .. .. .. .. .. .. ..
Ts9h  0  0  0  0  0  0  0  1  0  0  0  0  0
Ts9s  0  0  0  0  0  0  0  1  0  0  0  0  0
TsTc  0  0  0  0  0  0  0  0  1  0  0  0  0
TsTd  0  0  0  0  0  0  0  0  1  0  0  0  0
TsTh  0  0  0  0  0  0  0  0  1  0  0  0  0

[1326 rows x 13 columns]