In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.raw.positions import RawPositionsLoader
loader = RawPositionsLoader()
loader.fit_transform("")

,id,name,short_name,symbol,is_early,is_middle,is_late,is_blind,preflop_order,postflop_order
0,1,UTG,UTG,UTG,True,False,False,False,1,3
1,2,UTG1,UTG1,UTG1,True,False,False,False,2,4
2,3,UTG2,UTG2,UTG2,True,False,False,False,3,5
3,4,UTG3,UTG3,UTG3,True,False,False,False,4,6
4,5,LJ,LJ,LJ,False,True,False,False,5,7
5,6,HJ,HJ,HJ,False,True,False,False,6,8
6,7,CO,CO,CO,False,False,True,False,7,9
7,8,BTN,BTN,BTN,False,False,True,False,8,10
8,9,SB,SB,SB,False,False,False,True,9,1
9,10,BB,BB,BB,False,False,False,True,10,2

In [3]:
from src.loaders.fixed.positions import PositionsLoader
loader = PositionsLoader()
loader.fit_transform("Random Example")

,position_id,position_name,position_is_early,position_is_middle,position_is_late,position_is_blind
0,1,UTG,True,False,False,False
1,2,UTG1,True,False,False,False
2,3,UTG2,True,False,False,False
3,4,UTG3,True,False,False,False
4,5,LJ,False,True,False,False
5,6,HJ,False,True,False,False
6,7,CO,False,False,True,False
7,8,BTN,False,False,True,False
8,9,SB,False,False,False,True
9,10,BB,False,False,False,True

In [4]:
from src.data.loader import DataLoader
loader = DataLoader()
loader.load_positions()

,position_id,position_name,position_is_early,position_is_middle,position_is_late,position_is_blind
0,1,UTG,True,False,False,False
1,2,UTG1,True,False,False,False
2,3,UTG2,True,False,False,False
3,4,UTG3,True,False,False,False
4,5,LJ,False,True,False,False
5,6,HJ,False,True,False,False
6,7,CO,False,False,True,False
7,8,BTN,False,False,True,False
8,9,SB,False,False,False,True
9,10,BB,False,False,False,True