In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.fixed.suits import SuitsLoader
from src.loaders.raw.suits import RawSuitsLoader
loader = SuitsLoader()
raw_loader = RawSuitsLoader()
suits = loader.fit_transform("")
raw_suits = raw_loader.fit_transform("")

In [3]:
raw_suits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4 non-null      int64
 1   name        4 non-null      object
 2   symbol      4 non-null      object
 3   short_name  4 non-null      object
dtypes: int64(1), object(3)
memory usage: 160.0+ bytes

In [4]:
suits.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 1 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4 non-null      int8
 1   name        4 non-null      category
 2   symbol      4 non-null      category
 3   short_name  4 non-null      category
dtypes: category(3), int8(1)
memory usage: 660.0 bytes

In [5]:
raw_suits

   id      name symbol short_name
1   1     CLUBS      ♣          c
0   2  DIAMONDS      ♦          d
3   3    HEARTS      ♥          h
2   4    SPADES      ♠          s

In [6]:
suits

   id      name symbol short_name
1   1     CLUBS      ♣          c
0   2  DIAMONDS      ♦          d
3   3    HEARTS      ♥          h
2   4    SPADES      ♠          s