In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.fixed.shapes import ShapesLoader
from src.loaders.raw.shapes import RawShapesLoader
loader = ShapesLoader()
raw_loader = RawShapesLoader()
shapes = loader.fit_transform("")
raw_shapes = raw_loader.fit_transform("")

In [3]:
raw_shapes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int64
 1   name        3 non-null      object
 2   short_name  3 non-null      object
 3   symbol      3 non-null      object
dtypes: int64(1), object(3)
memory usage: 120.0+ bytes

In [4]:
shapes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          3 non-null      int8
 1   name        3 non-null      category
 2   short_name  3 non-null      category
 3   symbol      3 non-null      category
dtypes: category(3), int8(1)
memory usage: 432.0 bytes

In [5]:
raw_shapes

   id     name short_name symbol
0   1  OFFSUIT          o      o
1   2   SUITED          s      s
2   3     PAIR

In [6]:
shapes

   id     name short_name symbol
0   1  OFFSUIT          o      o
1   2   SUITED          s      s
2   3     PAIR