In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.fixed.hands import CombosLoader
from src.loaders.raw.hands import RawCombosLoader
loader = CombosLoader()
raw_loader = RawCombosLoader()
hands = loader.fit_transform("")
raw_hands = raw_loader.fit_transform("")

In [3]:
raw_hands.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 168
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   169 non-null    int64
 1   short_name           169 non-null    object
 2   first_rank           169 non-null    int64
 3   second_rank          169 non-null    int64
 4   shape                169 non-null    int64
 5   is_suited            169 non-null    bool
 6   is_offsuit           169 non-null    bool
 7   is_paired            169 non-null    bool
 8   is_connector         169 non-null    bool
 9   is_one_gapper        169 non-null    bool
 10  is_two_gapper        169 non-null    bool
 11  is_broadway          169 non-null    bool
 12  is_face              169 non-null    bool
 13  is_suited_connector  169 non-null    bool
 14  rank_difference      169 non-null    int64
dtypes: bool(9), int64(5), object(1)
memory usage: 10.7+ KB

In [4]:
hands.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 168
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   169 non-null    int16
 1   short_name           169 non-null    category
 2   is_suited            169 non-null    bool
 3   is_offsuit           169 non-null    bool
 4   is_paired            169 non-null    bool
 5   is_connector         169 non-null    bool
 6   is_one_gapper        169 non-null    bool
 7   is_two_gapper        169 non-null    bool
 8   is_broadway          169 non-null    bool
 9   is_face              169 non-null    bool
 10  is_suited_connector  169 non-null    bool
 11  rank_difference      169 non-null    int64
 12  first_rank           169 non-null    category
 13  second_rank          169 non-null    category
 14  shape                169 non-null    category
dtypes: bool(9), category(4), int16(1), int64(1)
memory usage: 12.1 KB

In [5]:
raw_hands

,id,short_name,first_rank,second_rank,shape,is_suited,is_offsuit,is_paired,is_connector,is_one_gapper,is_two_gapper,is_broadway,is_face,is_suited_connector,rank_difference
0,1,32o,2,1,1,False,True,False,True,False,False,False,False,False,1
1,2,32s,2,1,2,True,False,False,True,False,False,False,False,True,1
2,3,42o,3,1,1,False,True,False,False,True,False,False,False,False,2
3,4,42s,3,1,2,True,False,False,False,True,False,False,False,False,2
4,5,43o,3,2,1,False,True,False,True,False,False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,165,TT,9,9,3,False,False,True,False,False,False,True,False,False,0
165,166,JJ,10,10,3,False,False,True,False,False,False,True,True,False,0
166,167,QQ,11,11,3,False,False,True,False,False,False,True,True,False,0
167,168,KK,12,12,3,False,False,True,False,False,False,True,True,False,0
168,169,AA,13,13,3,False,False,True,False,False,False,True,False,False,0

In [6]:
hands

,id,short_name,is_suited,is_offsuit,is_paired,is_connector,is_one_gapper,is_two_gapper,is_broadway,is_face,is_suited_connector,rank_difference,first_rank,second_rank,shape
0,1,32o,False,True,False,True,False,False,False,False,False,1,3,2,OFFSUIT
1,2,32s,True,False,False,True,False,False,False,False,True,1,3,2,SUITED
2,3,42o,False,True,False,False,True,False,False,False,False,2,4,2,OFFSUIT
3,4,42s,True,False,False,False,True,False,False,False,False,2,4,2,SUITED
4,5,43o,False,True,False,True,False,False,False,False,False,1,4,3,OFFSUIT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,165,TT,False,False,True,False,False,False,True,False,False,0,T,T,PAIR
165,166,JJ,False,False,True,False,False,False,True,True,False,0,J,J,PAIR
166,167,QQ,False,False,True,False,False,False,True,True,False,0,Q,Q,PAIR
167,168,KK,False,False,True,False,False,False,True,True,False,0,K,K,PAIR
168,169,AA,False,False,True,False,False,False,True,False,False,0,A,A,PAIR