In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.dynamic.actions_sequences import ActionsSequencesLoader
from src.loaders.raw.actions_sequences import RawActionsSequencesLoader
loader = ActionsSequencesLoader()
raw_loader = RawActionsSequencesLoader()
actions_sequences = loader.fit_transform("")
raw_actions_sequences = raw_loader.fit_transform("")

In [3]:
raw_actions_sequences.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 0 to 161
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      162 non-null    int64
 1   symbol  161 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.8+ KB

In [4]:
actions_sequences.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162 entries, 0 to 161
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      162 non-null    uint8
 1   symbol  161 non-null    category
dtypes: category(1), uint8(1)
memory usage: 7.1 KB

In [5]:
raw_actions_sequences

      id symbol
0      1      F
1      2      C
2      3      R
3      4     CF
4      5     RC
..   ...    ...
157  158   RXBB
158  159   RRCC
159  160   BRRR
160  161  RRRRC
161  162    BCR

[162 rows x 2 columns]

In [6]:
actions_sequences

      id symbol
0      1      F
1      2      C
2      3      R
3      4     CF
4      5     RC
..   ...    ...
157  158   RXBB
158  159   RRCC
159  160   BRRR
160  161  RRRRC
161  162    BCR

[162 rows x 2 columns]