In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.fixed.combos import CombosLoader
from src.loaders.raw.combos import RawCombosLoader
loader = CombosLoader()
raw_loader = RawCombosLoader()
combos = loader.fit_transform("")
raw_combos = raw_loader.fit_transform("")

In [3]:
raw_combos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1326 entries, 0 to 1325
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1326 non-null   int64
 1   short_name   1326 non-null   object
 2   symbol       1326 non-null   object
 3   first_card   1326 non-null   int64
 4   second_card  1326 non-null   int64
 5   hand         1326 non-null   int64
dtypes: int64(4), object(2)
memory usage: 72.5+ KB

In [4]:
combos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1326 entries, 0 to 1325
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1326 non-null   int64
 1   short_name                1326 non-null   object
 2   hand                      1326 non-null   object
 3   hand_is_suited            1326 non-null   bool
 4   hand_is_offsuit           1326 non-null   bool
 5   hand_is_paired            1326 non-null   bool
 6   hand_is_connector         1326 non-null   bool
 7   hand_is_one_gapper        1326 non-null   bool
 8   hand_is_two_gapper        1326 non-null   bool
 9   hand_is_broadway          1326 non-null   bool
 10  hand_is_face              1326 non-null   bool
 11  hand_is_suited_connector  1326 non-null   bool
 12  hand_rank_difference      1326 non-null   int64
 13  hand_first_rank           1326 non-null   object
 14  hand_second_rank          1326 non-null   object
 15  hand_shape                1326 non-null   object
 16  first_card                1326 non-null   category
 17  first_card_is_broadway    1326 non-null   bool
 18  first_card_is_face        1326 non-null   bool
 19  first_card_rank           1326 non-null   category
 20  first_card_suit           1326 non-null   category
 21  second_card               1326 non-null   category
 22  second_card_is_broadway   1326 non-null   bool
 23  second_card_is_face       1326 non-null   bool
 24  second_card_rank          1326 non-null   category
 25  second_card_suit          1326 non-null   category
dtypes: bool(13), category(6), int64(2), object(5)
memory usage: 114.1+ KB

In [5]:
raw_combos

        id short_name symbol  first_card  second_card  hand
0        1       2d2c   2♦2♣           2            1   157
1        2       2h2c   2♥2♣           3            1   157
2        3       2s2c   2♠2♣           4            1   157
3        4       3c2c   3♣2♣           5            1     2
4        5       3d2c   3♦2♣           6            1     1
...    ...        ...    ...         ...          ...   ...
1321  1322       AhAc   A♥A♣          51           49   169
1322  1323       AsAc   A♠A♣          52           49   169
1323  1324       AhAd   A♥A♦          51           50   169
1324  1325       AsAd   A♠A♦          52           50   169
1325  1326       AsAh   A♠A♥          52           51   169

[1326 rows x 6 columns]

In [6]:
combos

,id,short_name,hand,hand_is_suited,hand_is_offsuit,hand_is_paired,hand_is_connector,hand_is_one_gapper,hand_is_two_gapper,hand_is_broadway,...,first_card,first_card_is_broadway,first_card_is_face,first_card_rank,first_card_suit,second_card,second_card_is_broadway,second_card_is_face,second_card_rank,second_card_suit
0,1,2d2c,22,False,False,True,False,False,False,False,...,2d,False,False,2,d,2c,False,False,2,c
1,2,2h2c,22,False,False,True,False,False,False,False,...,2h,False,False,2,h,2c,False,False,2,c
2,3,2s2c,22,False,False,True,False,False,False,False,...,2s,False,False,2,s,2c,False,False,2,c
3,4,3c2c,32s,True,False,False,True,False,False,False,...,3c,False,False,3,c,2c,False,False,2,c
4,5,3d2c,32o,False,True,False,True,False,False,False,...,3d,False,False,3,d,2c,False,False,2,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,1322,AhAc,AA,False,False,True,False,False,False,True,...,Ah,True,False,A,h,Ac,True,False,A,c
1322,1323,AsAc,AA,False,False,True,False,False,False,True,...,As,True,False,A,s,Ac,True,False,A,c
1323,1324,AhAd,AA,False,False,True,False,False,False,True,...,Ah,True,False,A,h,Ad,True,False,A,d
1324,1325,AsAd,AA,False,False,True,False,False,False,True,...,As,True,False,A,s,Ad,True,False,A,d
1325,1326,AsAh,AA,False,False,True,False,False,False,True,...,As,True,False,A,s,Ah,True,False,A,h