In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.fixed.flops import FlopsLoader
from src.loaders.raw.flops import RawFlopsLoader
loader = FlopsLoader()
raw_loader = RawFlopsLoader()
flops = loader.fit_transform("")
raw_flops = raw_loader.fit_transform("")

In [3]:
raw_flops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22100 entries, 0 to 22099
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 22100 non-null  int64
 1   short_name         22100 non-null  object
 2   symbol             22100 non-null  object
 3   first_card         22100 non-null  int64
 4   second_card        22100 non-null  int64
 5   third_card         22100 non-null  int64
 6   is_rainbow         22100 non-null  bool
 7   has_flush_draw     22100 non-null  bool
 8   is_monotone        22100 non-null  bool
 9   is_triplet         22100 non-null  bool
 10  is_paired          22100 non-null  bool
 11  is_sequential      22100 non-null  bool
 12  has_straights      22100 non-null  bool
 13  has_straight_draw  22100 non-null  bool
 14  has_gutshot        22100 non-null  bool
 15  min_distance       22100 non-null  int64
 16  max_distance       22100 non-null  int64
dtypes: bool(9), int64(6), object(2)
memory usage: 1.7+ MB

In [4]:
flops.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22100 entries, 0 to 22099
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       22100 non-null  uint16
 1   short_name               22100 non-null  category
 2   is_rainbow               22100 non-null  bool
 3   has_flush_draw           22100 non-null  bool
 4   is_monotone              22100 non-null  bool
 5   is_triplet               22100 non-null  bool
 6   is_paired                22100 non-null  bool
 7   is_sequential            22100 non-null  bool
 8   has_straights            22100 non-null  bool
 9   has_straight_draw        22100 non-null  bool
 10  has_gutshot              22100 non-null  bool
 11  min_distance             22100 non-null  uint8
 12  max_distance             22100 non-null  uint8
 13  first_card               22100 non-null  category
 14  first_card_is_broadway   22100 non-null  bool
 15  first_card_is_face       22100 non-null  bool
 16  first_card_rank          22100 non-null  category
 17  first_card_suit          22100 non-null  category
 18  second_card              22100 non-null  category
 19  second_card_is_broadway  22100 non-null  bool
 20  second_card_is_face      22100 non-null  bool
 21  second_card_rank         22100 non-null  category
 22  second_card_suit         22100 non-null  category
 23  third_card               22100 non-null  category
 24  third_card_is_broadway   22100 non-null  bool
 25  third_card_is_face       22100 non-null  bool
 26  third_card_rank          22100 non-null  category
 27  third_card_suit          22100 non-null  category
dtypes: bool(15), category(10), uint16(1), uint8(2)
memory usage: 1.5 MB

In [5]:
raw_flops

,id,short_name,symbol,first_card,second_card,third_card,is_rainbow,has_flush_draw,is_monotone,is_triplet,is_paired,is_sequential,has_straights,has_straight_draw,has_gutshot,min_distance,max_distance
0,1,2h2d2c,2♥2♦2♣,3,2,1,True,False,False,True,True,False,False,False,False,0,0
1,2,2s2d2c,2♠2♦2♣,4,2,1,True,False,False,True,True,False,False,False,False,0,0
2,3,3c2d2c,3♣2♦2♣,5,2,1,False,True,False,False,True,False,False,True,True,0,1
3,4,3d2d2c,3♦2♦2♣,6,2,1,False,True,False,False,True,False,False,True,True,0,1
4,5,3h2d2c,3♥2♦2♣,7,2,1,True,False,False,False,True,False,False,True,True,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22095,22096,AsAhKs,A♠A♥K♠,52,51,48,False,True,False,False,True,False,False,True,True,0,1
22096,22097,AhAdAc,A♥A♦A♣,51,50,49,True,False,False,True,True,False,False,False,False,0,0
22097,22098,AsAdAc,A♠A♦A♣,52,50,49,True,False,False,True,True,False,False,False,False,0,0
22098,22099,AsAhAc,A♠A♥A♣,52,51,49,True,False,False,True,True,False,False,False,False,0,0
22099,22100,AsAhAd,A♠A♥A♦,52,51,50,True,False,False,True,True,False,False,False,False,0,0

In [6]:
flops

,id,short_name,is_rainbow,has_flush_draw,is_monotone,is_triplet,is_paired,is_sequential,has_straights,has_straight_draw,...,second_card,second_card_is_broadway,second_card_is_face,second_card_rank,second_card_suit,third_card,third_card_is_broadway,third_card_is_face,third_card_rank,third_card_suit
0,1,2h2d2c,True,False,False,True,True,False,False,False,...,2d,False,False,2,d,2c,False,False,2,c
1,2,2s2d2c,True,False,False,True,True,False,False,False,...,2d,False,False,2,d,2c,False,False,2,c
2,3,3c2d2c,False,True,False,False,True,False,False,True,...,2d,False,False,2,d,2c,False,False,2,c
3,4,3d2d2c,False,True,False,False,True,False,False,True,...,2d,False,False,2,d,2c,False,False,2,c
4,5,3h2d2c,True,False,False,False,True,False,False,True,...,2d,False,False,2,d,2c,False,False,2,c
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22095,22096,AsAhKs,False,True,False,False,True,False,False,True,...,Ah,True,False,A,h,Ks,True,True,K,s
22096,22097,AhAdAc,True,False,False,True,True,False,False,False,...,Ad,True,False,A,d,Ac,True,False,A,c
22097,22098,AsAdAc,True,False,False,True,True,False,False,False,...,Ad,True,False,A,d,Ac,True,False,A,c
22098,22099,AsAhAc,True,False,False,True,True,False,False,False,...,Ah,True,False,A,h,Ac,True,False,A,c
22099,22100,AsAhAd,True,False,False,True,True,False,False,False,...,Ah,True,False,A,h,Ad,True,False,A,d