In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.fixed.tour_types import TourTypesLoader
from src.loaders.raw.tour_types import RawTourTypesLoader
loader = TourTypesLoader()
raw_loader = RawTourTypesLoader()
tour_types = loader.fit_transform("")
raw_tour_types = raw_loader.fit_transform("")

In [3]:
raw_tour_types.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12 non-null     int64
 1   name    12 non-null     object
dtypes: int64(1), object(1)
memory usage: 288.0+ bytes

In [4]:
tour_types.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      12 non-null     uint8
 1   name    12 non-null     category
dtypes: category(1), uint8(1)
memory usage: 516.0 bytes

In [5]:
raw_tour_types

    id           name
0    1        CLASSIC
1    2             KO
2    3         FLIGHT
3    4            SNG
4    5        SPECIAL
5    6         DOUBLE
6    7        HITNRUN
7    8      DEGLINGOS
8    9         QUALIF
9   10           WIPT
10  11  SUPERFREEROLL
11  12           SPIN

In [6]:
tour_types

    id           name
0    1        CLASSIC
1    2             KO
2    3         FLIGHT
3    4            SNG
4    5        SPECIAL
5    6         DOUBLE
6    7        HITNRUN
7    8      DEGLINGOS
8    9         QUALIF
9   10           WIPT
10  11  SUPERFREEROLL
11  12           SPIN