In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.fixed.positions import PositionsLoader
from src.loaders.raw.positions import RawPositionsLoader
loader = PositionsLoader()
raw_loader = RawPositionsLoader()
positions = loader.fit_transform("")
raw_positions = raw_loader.fit_transform("")

In [3]:
raw_positions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10 non-null     int64
 1   name            10 non-null     object
 2   short_name      10 non-null     object
 3   symbol          10 non-null     object
 4   is_early        10 non-null     bool
 5   is_middle       10 non-null     bool
 6   is_late         10 non-null     bool
 7   is_blind        10 non-null     bool
 8   preflop_order   10 non-null     int64
 9   postflop_order  10 non-null     int64
dtypes: bool(4), int64(3), object(3)
memory usage: 600.0+ bytes

In [4]:
positions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   position_id         10 non-null     uint8
 1   position_name       10 non-null     category
 2   position_is_early   10 non-null     bool
 3   position_is_middle  10 non-null     bool
 4   position_is_late    10 non-null     bool
 5   position_is_blind   10 non-null     bool
dtypes: bool(4), category(1), uint8(1)
memory usage: 520.0 bytes

In [5]:
raw_positions

,id,name,short_name,symbol,is_early,is_middle,is_late,is_blind,preflop_order,postflop_order
0,1,UTG,UTG,UTG,True,False,False,False,1,3
1,2,UTG1,UTG1,UTG1,True,False,False,False,2,4
2,3,UTG2,UTG2,UTG2,True,False,False,False,3,5
3,4,UTG3,UTG3,UTG3,True,False,False,False,4,6
4,5,LJ,LJ,LJ,False,True,False,False,5,7
5,6,HJ,HJ,HJ,False,True,False,False,6,8
6,7,CO,CO,CO,False,False,True,False,7,9
7,8,BTN,BTN,BTN,False,False,True,False,8,10
8,9,SB,SB,SB,False,False,False,True,9,1
9,10,BB,BB,BB,False,False,False,True,10,2

In [6]:
positions

,position_id,position_name,position_is_early,position_is_middle,position_is_late,position_is_blind
0,1,UTG,True,False,False,False
1,2,UTG1,True,False,False,False
2,3,UTG2,True,False,False,False
3,4,UTG3,True,False,False,False
4,5,LJ,False,True,False,False
5,6,HJ,False,True,False,False
6,7,CO,False,False,True,False
7,8,BTN,False,False,True,False
8,9,SB,False,False,False,True
9,10,BB,False,False,False,True