In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
from src.loaders.fixed.tour_speeds import TourSpeedsLoader
from src.loaders.raw.tour_speeds import RawTourSpeedsLoader
loader = TourSpeedsLoader()
raw_loader = RawTourSpeedsLoader()
tour_speeds = loader.fit_transform("")
raw_tour_speeds = raw_loader.fit_transform("")

In [3]:
raw_tour_speeds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      int64
 1   name    5 non-null      object
dtypes: int64(1), object(1)
memory usage: 120.0+ bytes

In [4]:
tour_speeds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5 non-null      uint8
 1   name    5 non-null      category
dtypes: category(1), uint8(1)
memory usage: 262.0 bytes

In [5]:
raw_tour_speeds

   id     name
0   1     SLOW
1   2  REGULAR
2   3    TURBO
3   4    HYPER
4   5   DOUBLE

In [6]:
tour_speeds

   id     name
0   1     SLOW
1   2  REGULAR
2   3    TURBO
3   4    HYPER
4   5   DOUBLE